@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #dee1e2;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}
.box
{
    border-radius: 5px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -370px 0 0 -400px; /* Apply negative top and left margins to truly center the element */
    width: 815px;
}
.box h1
{
    letter-spacing: 0.03em;
}
.box p
{
    margin-right: 30px;
    padding: 10px 0;
    font-size: 16px;
    line-height: 1.6;
}
.q1
{
    margin: 10px;
}
.options
{
    letter-spacing: 0.02em;
    margin-left: 45px;
}
.btn{
    margin: 50px auto;
    width: 350px;
}
.header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 60px;
    text-align: center;
    background: #1a8bbc;
    color: white;
    font-size: 30px;
}
.header h2 {
    color: white;
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
}
@media (max-width: 800px)
{
    .box
    {
        width:100%;
        top: 0%;
        left: 0%;
        margin: 0 auto;
        position: absolute;
    }
    .box h1
    {
        letter-spacing: 0em;
    }
    .box p
    {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 25px;

        padding: 10px 0;
        font-size: 16px;
        line-height: 150%;

    }
    .form-control{
        width: 95%;
    }
    .header {
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
        font-size: 30px;
    }
}


