<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareerGuide.kz</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <link rel="icon" type="image/x-icon" href="/css/images/favicon.ico">

</head>
<body>
<header>
    <a href="home" class="logo">CareerGuide.kz</a>
    <div class="group">
        <ul class="navigation">
            <li><a href="home">Главная страница</a></li>
            <li><a href="resultsDebugQaz">Мой результаты</a></li>
            <li><a href="logout">Выйти</a></li>
        </ul>
        <ion-icon name="menu-outline" class="menuToggle"></ion-icon>
    </div>
</header>

<div class = "box">
    <div class = "titleOftest">
        <h2>Профориентационный Тест</h2>
    </div>
    <div class = "buttonOftest">
        <a href="/languageChoose" class="btn" id="btn">Начать тестирование</a>
    </div>
</div>

<svg viewBox="0 0 1920 155" preserveAspectRatio="none" class="background">
    <polygon points="1920 823 0 823 0 0 396 101 835 31 1574 149 1920 17 1920 823" class="c1">

    </polygon>
</svg>
<div class = "bodybox">
    <div class="divIllus">
        <img id="img1" class="illustration1" src="/css/images/undraw_predictive_analytics_re_wxt8.svg">
        <img id="img2" class="illustration1" src="/css/images/undraw_developer_activity_re_39tg.svg">
        <img id="img3" class="illustration1" src="/css/images/undraw_mathematics_-4-otb.svg">
        <img id="img4" class="illustration1" src="/css/images/undraw_certificate_re_yadi.svg">
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script th:inline="javascript">
    let navigation = document.querySelector('.navigation');
    let menuToggle = document.querySelector('.menuToggle');
    let header = document.querySelector('header');
    let container = document.querySelector('container');

    menuToggle.onclick = function(){
        header.classList.toggle('open');
        container.classList.toggle('hide');
    }


</script>
</body>
</html>