<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Тест</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/instructions1.css"/>
    <link rel="icon" type="image/x-icon" href="/css/images/favicon.ico">

    <!--<style>-->
    <!--body{background-color}-->
    <!--</style>-->
</head>
<body cz-shortcut-listen="true">
<div class="box" >
    <div class="header">
        <h2>Инструкции#2</h2>
    </div>
    <p><strong>Инструкции для тестирования:</strong>
        <br>
        Перед вами 120 вопросов, которые помогут определить
        наиболее подходящую Вам область профессионального самоопределения,
        а также некоторые свойства вашей личности. <br><br> Старайтесь отвечать
        искренне и точно. Отвечая на каждый вопрос, вы должны выбрать один из
        предлагаемых вам ответов — тот, который в наибольшей степени
        соответствует вашим взглядам, вашему мнению о себе. Не нужно много
        времени тратить на обдумывание ответов. Давайте тот ответ, который
        первым приходит вам в голову. <br><br> Конечно, вопросы часто будут
        сформулированы не так подробно, как вам хотелось бы. В таком случае,
        отвечая, постарайтесь выбрать наиболее подходящий Вам ответ.
        Обязательно отвечайте на все вопросы подряд, ничего не пропуская.</p>
    <button id="myButton" class="btn btn-lg btn btn-success btn-block" >Начать!</button>
</div>

</div>
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/test";
    };
</script>
</body>
</html>
