<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Авторизация в CareerGuide.kz</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/css/images/favicon.ico">


</head>
<body cz-shortcut-listen="true">
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Войти в CareerGuide.kz</h2>
        <div class="alert alert-danger text-center" th:if="${param.error}">
            Неправильный эмайл или пароль
        </div>
        <div class="alert alert-success text-center" th:if="${param.logout}">
            Вы вышли из аккаунта!
        </div>
        <p>
            <label for="username" class="sr-only">Email</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Эмайл" required="Введите эмайл" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required="Введите пароль">
        </p>
        <p class ="resetMessage">Забыли свой пароль? <a href="/resetPassword">Восстановить</a></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        <button id="myButton" class="btn btn-lg btn btn-success btn-block" >Зарегистрироваться</button>
    </form>



</div>
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/registration";
    };
</script>
</body>
</html>