<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareerGuide.kz</title>
    <link rel="icon" type="image/x-icon" href="/css/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/results.css"/>
</head>

<body>
<header>
    <a href="home" class="logo">CareerGuide.kz</a>
    <div class="group">
        <ul class="navigation">
            <li><a href="home">Главная страница</a></li>
            <li><a href="resultsDebug">Мой результаты</a></li>
            <li><a href="logout">Выйти</a></li>
        </ul>
        <ion-icon name="menu-outline" class="menuToggle"></ion-icon>
    </div>
</header>
<div class = "box">
    <div class = "titleOfresult">
        <div class = "titleOfresult2">
            <div><h2>Ваши результаты</h2>
            </div>
            <div class="dropdown">
                <button class="dropbtn">На русском</button>
                <div class="dropdown-content">
                    <a href="resultsDebugQaz">Қазақша </a>
                    <a href="resultsDebug">На русском</a>
                </div>
            </div>
        </div>
        <div class="resultsDesign">
            <div class="ImagePart">
                <img class="illustration1" src="/css/images/happy.svg">
            </div>
            <div>
                <p>1)Профессия</p>
                <table id="myTable">
                    <tr id>
                        <th>ваш результат:</th>
                        <td id="PathName" >0</td>
                    </tr>
                </table>
                <p>2)Личностные качества</p>
                <table id="tableID"></table>

                <p>3)Мотив деятельности</p>
                <table id="tableID2"></table>
            </div>
        </div>
    </div>
</div>

<div class="boxWithText">
    <div class = "titleOfBoxes">
            <h3 id="titleOfBox"></h3>
        <p id="subjectText"></p>
        <br>
        <p><Strong>Возможные специальности:</Strong></p>
        <ul class="list-group list-group-flush" id="subjectList">0</ul>
    </div>
    <br>

    <div>
        <p><Strong>Список учебных заведений, в которых предоставляют образовательные услуги по перечисленным специальностям:</Strong></p>
        <ul class="list-group list-group-flush" id="UniList">0</ul>
    </div>
</div>

<div class="boxWithText">
    <div id="myDIV" class = "titleOfBoxes">
        <h3>Личностные шкалы</h3>

    </div>
    <br>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script th:inline="javascript">
    let navigation = document.querySelector('.navigation');
    let menuToggle = document.querySelector('.menuToggle');
    let header = document.querySelector('header');
    let languageToggle = document.querySelector('dropdown');
        /*<![CDATA[*/
        let physMat= /*[[${answersResults.physMat}]]*/ 'physMat';
        let chemBio= /*[[${answersResults.chemBio}]]*/ 'chemBio';
        let ling= /*[[${answersResults.ling}]]*/ 'ling';
        let tech= /*[[${answersResults.tech}]]*/ 'tech';
        let itVar= /*[[${answersResults.it}]]*/ 'it';
        let sport= /*[[${answersResults.sport}]]*/ 'sport';
        let art= /*[[${answersResults.art}]]*/ 'art';
        let econ= /*[[${answersResults.econ}]]*/ 'econ';
        let psych= /*[[${answersResults.psych}]]*/ 'psych';
        let soc= /*[[${answersResults.soc}]]*/ 'soc';
        let serviceVar= /*[[${answersResults.service}]]*/ 'service';

        let strong = [];
        let middle = [];
        let motivation = [];

    let leader = /*[[${answersResults.leader}]]*/ 'leader';
        if(leader > 49 && leader < 80) {middle.push("Лидерство");}
        else if(leader > 80){strong.push("Лидерство");}
    let logic = /*[[${answersResults.logic}]]*/ 'logic';
        if(logic > 49 && logic < 80) {middle.push("Логика");}
        else if(logic > 80){strong.push("Логика");}
    let creativity = /*[[${answersResults.creativity}]]*/ 'creativity';
        if(creativity > 49 && creativity < 80) {middle.push("Креативность");}
        else if(creativity > 80){strong.push("Креативность");}
    let organized = /*[[${answersResults.organized}]]*/ 'organized';
        if(organized > 49 && organized < 80) {middle.push("Организованность");}
        else if(organized > 80){strong.push("Организованность");}
    let socialInt = /*[[${answersResults.socialInt}]]*/ 'socialInt';
        if(socialInt > 49 && socialInt < 80) {middle.push("Социальный интеллект");}
        else if(socialInt > 80){strong.push("Социальный интеллект");}
    let motiv = /*[[${answersResults.motiv}]]*/ 'motiv';
    let antiMotiv = /*[[${answersResults.antiMotiv}]]*/ 'antiMotiv';
    if(motiv > 50) {motivation.push("Мотивация достижения успеха");}
        else if(antiMotiv > 50) {motivation.push("Мотивация избегания неудач");}
    /*]]>*/

        const subjects = new Map([
            [physMat, "physMat"],
            [chemBio, "chemBio"],
            [ling, "ling"],
            [tech, "tech"],
            [itVar, "itVar"],
            [sport, "sport"],
            [art, "art"],
            [econ, "econ"],
            [psych, "psych"],
            [soc, "soc"],
            [serviceVar, "serviceVar"],
        ]);

        let theHighest = Math.max(physMat, chemBio, ling, tech, itVar, sport, art, econ, psych, soc, serviceVar);
        let name = null;
        if(theHighest != 0){
            name = subjects.get(theHighest);
        }
        if (name == "physMat") {
            document.getElementById("PathName").innerText = " Физико-математическое";
            document.getElementById("titleOfBox").innerText = " Физико-математическое";
            document.getElementById("subjectText").innerText = "По результатам теста, набранные Вами высокие показатели в физико-математическом направлении говорят о Вашей склонности к «точным» наукам  и широкому спектру профессий, связанными с ними. ";
            let myList = "<ul>\n" +
                "  <li>Математика (профильные предметы – математика и физика)</li>\n" +
                "  <li>Прикладная математика (профильные предметы – математика и физика)</li>\n" +
                "  <li>Математическое и компьютерное моделирование (профильные предметы – математика и физика)</li>\n" +
                "  <li>Физика (профильные предметы – математика и физика)</li>\n" +
                "  <li>Автоматизация и управление (профильные предметы – математика и физика)</li>\n" +
                "  <li>Ядерная физика (профильные предметы – математика и физика)</li>\n" +
                "  <li>Механика (профильные предметы – математика и физика)</li>\n" +
                "  <li>Астрономия (профильные предметы – математика и физика)</li>\n" +
                "</ul>";
            document.getElementById("subjectList").innerHTML = myList;

            let UniList = "<ul>\n" +
                "  <li>Аркалыкский педагогический институт им. Ы.Алтынсарина</li>\n" +
                "  <li>Восточно-Казахстанский университет им. С.Аманжолова</li>\n" +
                "  <li>Западно-Казахстанский университет им. М.Утемисова</li>\n" +
                "  <li>Казахский национальный педагогический университет им. Абая</li>\n" +
                "  <li>Карагандинский университет им. академика Е.А.Букетова</li>\n" +
                "  <li>Ualikhanov University</li>\n" +
                "  <li>Северо-Казахстанский университет имени Манаша Козыбаева</li>\n" +
                "  <li>Университет Шакарима</li>\n" +
                "  <li>Южно-Казахстанский государственный университет им. М.Ауэзовa</li>\n" +
                "  <li>Актюбинский региональный университет им. К.Жубанова</li>\n" +
                "  <li>Центрально-Азиатский инновационный университет</li>\n" +
                "  <li>Жетысуский государственный университет им. И.Жансугурова</li>\n" +
                "  <li>Международный казахско-турецкий университет им. Х.А.Ясави</li>\n" +
                "  <li>Южно-Казахстанский государственный педагогический университет</li>\n" +
                "  <li>Евразийский национальный университет им. Л.Н.Гумилёва</li>\n" +
                "</ul>";
            document.getElementById("UniList").innerHTML = UniList;

        } else if (name == "chemBio")  {
            document.getElementById("PathName").innerText = " Химико-биологическое";
            document.getElementById("titleOfBox").innerText = " Химико-биологическое";
            document.getElementById("subjectText").innerText = "Вы показали высокий уровень предрасположенности к профессиям химико-биологического профиля.  Знание химии и биологии  дает возможность работать в области медицины, фармакологии, биохимии и биофизики, молекулярной биологии и т.д.";

            let myList = "<ul>\n" +
                "  <li>Общая медицина (профильные предметы – химия и биология) </li>\n" +
                "  <li>Стоматология (профильные предметы – химия и биология) </li>\n" +
                "  <li>Сестринское дело(профильные предметы – химия и биология) </li>\n" +
                "  <li>Фармацевтика (профильные предметы – химия и биология) </li>\n" +
                "  <li>Экология (профильные предметы – биология и география) </li>\n" +
                "  <li>Биотехнологии (профильные предметы – химия и биология) </li>\n" +
                "  <li>Биохимия (профильные предметы – химия и биология) </li>\n" +
                "  <li>Ветеринария (профильные предметы – химия и биология) </li>\n" +
                "  <li>Педиатрия (профильные предметы – химия и биология) </li>\n" +
                "</ul>";
            document.getElementById("subjectList").innerHTML = myList;

            let UniList = "<ul>\n" +
                "  <li>Медицинский университет Астана - Нур-Султана (Астаны)</li>\n" +
            "  <li>Казахский национальный медицинский университет им.С. Д. Асфендиярова (КазНМУ) - Алматы</li>\n" +
            "  <li>Казахстанско-Российский медицинский университет (КРМУ) - Алматы</li>\n" +
            "  <li>Западно-Казахстанский государственный медицинский университет имени М. Оспанова (ЗКГМУ) - Актобе</li>\n" +
            "  <li>Атырауский государственный университет имени Х. Досмухамедова (АТГУ) - Атырау</li>\n" +
            "  <li>Атырауский государственный университет имени Х. Досмухамедова (АТГУ) - Атырау</li>\n" +
            "  <li>НАО Медицинский университет Семей</li>\n" +
                "</ul>";
            document.getElementById("UniList").innerHTML = UniList;

        } else if (name == "ling")  {
            document.getElementById("PathName").innerText = " Лингвистическое";
            document.getElementById("titleOfBox").innerText = " Лингвистическое";
            document.getElementById("subjectText").innerText = "Высокие показатели по филолого-лингвистическому направлению означают склонность к профессиям, связанным с изучением языка, литературы, а также деятельности в области журналистики и печатного дела.";

            let myList = "<ul>\n" +
                "  <li>Казахский язык и литература (профильные предметы – казахская литература и история) </li>\n" +
                "  <li>Русский язык и литература (профильные предметы – русская литература и история) </li>\n" +
                "  <li>Иностранный язык (профильные предметы – иностранный язык и история) </li>\n" +
                "  <li>Казахская филология (профильные предметы – казахская литература и история) </li>\n" +
                "  <li>Филология (иностранные языки) (профильные предметы – иностранный язык и история) </li>\n" +
                "  <li>Международные отношения (профильные предметы – иностранный язык и история) </li>\n" +
                "  <li>Востоковедение (профильные предметы – иностранный язык и история) </li>\n" +
                "  <li>Тюркология (профильные предметы – иностранный язык и история) </li>\n" +
                "  <li>Переводческое дело (профильные предметы – иностранный язык и история) </li>\n" +
                "  <li>Регионоведение (профильные предметы – иностранный язык и история) </li>\n" +
                "  <li>Издательское дело (2 творческих экзамена) </li>\n" +
                "  <li>Журналистика (2 творческих экзамена) </li>\n" +
                "</ul>";
            document.getElementById("subjectList").innerHTML = myList;
            let UniList = "<ul>\n" +
                "  <li>Евразийский национальный университет им. Л.Н.Гумилёва </li>\n" +
                "  <li>Казахский национальный педагогический университет им. Абая </li>\n" +
                "  <li>Казахский национальный университет им. аль-Фараби </li>\n" +
                "  <li>Казахский университет международных отношений и мировых языков им. Абылай хана  </li>\n" +
                "  <li>Карагандинский университет им. академика Е.А.Букетова  </li>\n" +
                "  <li>Toraighyrov University  </li>\n" +
                "  <li>Северо-Казахстанский университет имени Манаша Козыбаева </li>\n" +
                "  <li>Университет Шакарима  </li>\n" +
                "  <li>Южно-Казахстанский государственный университет им. М.Ауэзова  </li>\n" +
                "  <li>Актюбинский региональный университет им. К.Жубанова  </li>\n" +
                "  <li>Таразский государственный университет им. М.Х.Дулати  </li>\n" +
                "  <li>Международный казахско-турецкий университет им. Х.А.Ясави  </li>\n" +
                "  <li>Костанайский региональный университет им. А.Байтурсынова  </li>\n" +
                "  <li>Костанайский социально-технический университет им. академика З.Алдамжар  </li>\n" +
                "  <li>Центрально-Казахстанская академия  </li>\n" +
                "</ul>";
            document.getElementById("UniList").innerHTML = UniList;
        } else if (name == "tech")  {
            document.getElementById("PathName").innerText = " Техническое";
            document.getElementById("titleOfBox").innerText = " Техническое";
            document.getElementById("subjectText").innerText = "Технический склад ума позволяет человеку хорошо разбираться в технических и математических науках. Такие люди любят анализировать окружающую действительность, они способны увидеть отдельные детали ситуации и оценить их.";

            let myList = "<ul>\n" +
                "  <li>Производство строительных материалов, изделий и конструкций (профильные предметы – математика и физика) </li>\n" +
                "  <li>Горное дело (профильные предметы – математика и физика) </li>\n" +
                "  <li>Нефтегазовое дело (профильные предметы – математика и физика) </li>\n" +
                "  <li>Металлургия (профильные предметы – математика и физика) </li>\n" +
                "  <li>Приборостроение (профильные предметы – математика и физика) </li>\n" +
                "  <li>Радиотехника, электроника и коммуникации (профильные предметы – математика и физика) </li>\n" +
                "  <li>Стандартизация, сертификация и метрология (профильные предметы – математика и физика) </li>\n" +
                "  <li>Машиностроение (профильные предметы – математика и физика) </li>\n" +
                "  <li>Инженерная механика (профильные предметы – математика и физика) </li>\n" +
                "  <li>Инженерия (профильные предметы – математика и физика) </li>\n" +
                "  <li>Электроника и электротехника (профильные предметы – математика и физика) </li>\n" +
                "  <li>Космическая техника и технологии (профильные предметы – математика и физика) </li>\n" +
                "</ul>";
            document.getElementById("subjectList").innerHTML = myList;
            let UniList = "<ul>\n" +
                "  <li>Казахский национальный исследовательский технический университет имени К.И.Сатпаева  </li>\n" +
                "  <li>Казахстанско-Британский технический университет  </li>\n" +
                "  <li>Медицинский университет Караганды  </li>\n" +
                "  <li>Казахский национальный аграрный университет  </li>\n" +
                "  <li>Алматинский университет энергетики и связи имени Гумарбека Даукеева  </li>\n" +
                "  <li>Алматинский технологический университет  </li>\n" +
                "  <li>Академия логистики и транспорта  </li>\n" +
                "  <li>Международный университет информационных технологий  </li>\n" +
                "  <li>Западно-Казахстанский аграрно-технический университет имени Жангир-хана  </li>\n" +
                "  <li>Карагандинский государственный индустриальный университет  </li>\n" +
                "  <li>Атырауский университет нефти и газа имени С. Утебаева  </li>\n" +
                "  <li>Казахский университет путей сообщений  </li>\n" +
                "  <li>Казахский университет технологии и бизнеса  </li>\n" +
                "  <li>Казахстанский инженерно-технологический университет </li>\n" +
                "</ul>";
            document.getElementById("UniList").innerHTML = UniList;
        } else if (name == "itVar")  {
            document.getElementById("PathName").innerText = " Информационные технологии";
            document.getElementById("titleOfBox").innerText = " Информационные технологии";
            document.getElementById("subjectText").innerText = "Высокие показатели в области информационных технологий говорят о том, что Вы органично будете себя чувствовать в сфере занимающейся изучением законов, методов и способов получения, хранения, передачи и обработки информации в различных областях деятельности человека с применением средств вычислительной техники и телекоммуникационных систем.";

            let myList = "<ul>\n" +
                "  <li>Информационные технологии (профильные предметы – математика, физика/информатика) </li>\n" +
                "  <li>Информационная безопасность (профильные предметы – математика, физика/информатика) </li>\n" +
                "  <li>Коммуникации и коммуникационные технологии (профильные предметы – математика, физика) </li>\n" +
                "</ul>";
            document.getElementById("subjectList").innerHTML = myList;
            let UniList = "<ul>\n" +
                "  <li>Алматинский университет энергетики и связи им. Гумарбека Даукеева (АУЭС)</li>\n" +
                "  <li>Международный университет информационных технологий (МУИТ)</li>\n" +
                "  <li>Astana IT University(AITU)</li>\n" +
                "  <li>Казахстанско-британский технический университет(КБТУ)</li>\n" +
                "  <li>Карагандинский технический университет(КарТУ)</li>\n" +
                "  <li>Восточно-Казахстанский технический университет им. Серикбаева (ВКТУ)</li>\n" +
                "</ul>";
            document.getElementById("UniList").innerHTML = UniList;
        } else if (name == "sport")  {
            document.getElementById("PathName").innerText = " Спортивное направление и военное дело";
            document.getElementById("titleOfBox").innerText = " Спортивное направление и военное дело";
            document.getElementById("subjectText").innerText = "Преобладание баллов по этой шкале свидетельствует об интересе к сфере физической культуры и спорта и военному делу. Однако следует учесть, что в данной профессиональной области повышенные требования к состоянию здоровья, уровню физической подготовки. Кроме того, в некоторых военных вузах поступление возможно только для абитуриентов мужского пола. ";

            let myList = "<ul>\n" +
                "  <li>Физическая культура и спорт (2 творческих экзамена) </li>\n" +
                "  <li>Туризм (профильные предметы – география и иностранный язык) </li>\n" +
                "  <li>Управление мотострелковыми подразделениями (профильные предметы –  физика и спортивные нормативы) </li>\n" +
                "  <li>Управление танковыми подразделениями (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Управление десантно-штурмовыми подразделениями (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Управление разведывательными подразделениями (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Управление подразделениями ракетных войск и артиллерией (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Организация ракетно-артиллерийской службы (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Радиационная, химическая и биологическая защита войск (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Эксплуатация воздушных судов (самолетов) (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Эксплуатация воздушных судов (вертолетов) (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Эксплуатация воздушных судов (транспортных самолетов) (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Управление полетами авиации (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Техническая эксплуатация воздушных судов и двигателей (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Техническая эксплуатация авиационного вооружения (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Техническая эксплуатация авиационного оборудования (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Техническая эксплуатация авиационного радиоэлектронного оборудования (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Радионавигация в военном деле (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Пожарная безопасность (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Защита в чрезвычайных ситуациях (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Пожаротушение и аварийно-спасательное дело (профильный предмет –  физика, спортивные нормативы) </li>\n" +
                "  <li>Правоохранительная деятельность (профильный предмет –  всемирная история, спортивные нормативы) </li>\n" +
                "</ul>";
            document.getElementById("subjectList").innerHTML = myList;
            let UniList = "<ul>\n" +
                "  <li>Академия МВД РК (г. Алматы)  </li>\n" +
                "  <li>Карагандинский юридический институт МВД РК (г. Караганда)   </li>\n" +
                "  <li>Академия Комитета уголовно-исполнительной системы МВД РК (г. Костанай)   </li>\n" +
                "  <li>Военный институт сухопутных войск МО РК (г. Алматы)  </li>\n" +
                "  <li>Военный институт Сил Воздушной обороны им. Т. Я. Бегельдинова МО РК (г. Актобе)  </li>\n" +
                "  <li>Академия финансовой полиции Агентства РК по борьбе с экономической и коррупционной преступностью  (г. Щучинск) </li>\n" +
                "  <li>Кокшетауский технический институт МЧС РК (г. Кокшетау)  </li>\n" +
                "  <li>Военный институт иностранных языков МО РК (г. Алматы)  </li>\n" +
                "  <li>Военная академия Национальной Гвардии МВД РК (г. Петропавловск) </li>\n" +
                "  <li>Военно-морской институт МО РК (г. Актау)   </li>\n" +
                "  <li>Национальный университет обороны МО РК (г. Щучинск) </li>\n" +
                "  <li>Академия КНБ РК (г. Алматы) </li>\n" +
                "  <li>Военный институт КНБ РК (г. Алматы) </li>\n" +
                "  <li>Военно-инженерный институт радиоэлектроники и связи МО РК (г. Алматы)</li>\n" +
                "  <li>Жас Улан республиканская школа имени генерала С.К.Нурмагамбетова (г. Астана) </li>\n" +
                "  <li>Военно-техническая школа МО РК (филиалы во всех регионах Казахстана)</li>\n" +
                "  <li>Алматинская республиканская военная школа-интернат имени Бауржана Момышулы</li>\n" +
                "  <li>Карагандинская республиканская военная школа-интернат </li>\n" +
                "  <li>Шымкентская республиканская военная школа-интернат </li>\n" +
                "  <li>Специализированный военный лицей Арыстан для одаренных детей (г. Алматы)</li>\n" +
                "  <li>Кадетский корпус (г. Щучинск, Акмолинская область)</li>\n" +
                "  <li>Пограничная академия КНБ РК</li>\n" +
                "  <li>Семипалатинский юридический колледж МВД РК </li>\n" +
                "  <li>Шымкентский юридический колледж МВД РК</li>\n" +
                "  <li>Актюбинский юридический колледж МВД РК</li>\n" +
                "  <li>Военный колледж спорта СК (ЦСКА) МО РК (г. Алматы)</li>\n" +
                "  <li>Академия гражданской защиты им. М.Габдуллина МЧС РК</li>\n" +
                "</ul>";
            document.getElementById("UniList").innerHTML = UniList;
        } else if (name == "art")  {
            document.getElementById("PathName").innerText = " Художественно-эстетическое";
            document.getElementById("titleOfBox").innerText = " Художественно-эстетическое";
            document.getElementById("subjectText").innerText = "Художественно-эстетическое направление тесным образом связано с восприятием художественных образов, в принципе с искусством. Высокие показатели по данной шкале указывают на наличие у личности эстетических потребностей, чувств, вкусов, эстетических умений, способностей и желания заниматься искусством.";

            let myList = "<ul>\n" +
                "  <li>Дизайн (2 творческих экзамена) </li>\n" +
                "  <li>Живопись (2 творческих экзамена) </li>\n" +
                "  <li>Скульптура (2 творческих экзамена) </li>\n" +
                "  <li>Графика (2 творческих экзамена) </li>\n" +
                "  <li>Дизайн и мода (2 творческих экзамена) </li>\n" +
                "  <li>Декоративное искусство (2 творческих экзамена) </li>\n" +
                "  <li>Искусствоведение ((2 творческих экзамена) </li>\n" +
                "  <li>Традиционное музыкальное искусство (2 творческих экзамена) </li>\n" +
                "  <li>Режиссура (2 творческих экзамена) </li>\n" +
                "  <li>Аудиопроизводство (2 творческих экзамена) </li>\n" +
                "  <li>Сценография (2 творческих экзамена) </li>\n" +
                "  <li>Актерское искусство (2 творческих экзамена) </li>\n" +
                "  <li>Хореография (2 творческих экзамена) </li>\n" +
                "</ul>";
            document.getElementById("subjectList").innerHTML = myList;
            let UniList = "<ul>\n" +
                "  <li>Алматинский технологический университет </li>\n" +
                "  <li>Атырауский университет им. Х.Досмухамедова </li>\n" +
                "  <li>Евразийский национальный университет им. Л.Н.Гумилёва </li>\n" +
                "  <li>Западно-Казахстанский университет им. М.Утемисова </li>\n" +
                "  <li>Инновационный Евразийский Университет </li>\n" +
                "  <li>Казахская национальная академия искусств им. Т.К.Жургенова </li>\n" +
                "  <li>Казахский национальный педагогический университет им. Абая </li>\n" +
                "  <li>Satbayev University </li>\n" +
                "  <li>Казахский национальный университет им. аль-Фараби </li>\n" +
                "  <li>Казахский университет технологии и бизнеса </li>\n" +
                "  <li>Казахский университет экономики, финансов и международной торговли </li>\n" +
                "  <li>Карагандинский технический университет </li>\n" +
                "  <li>Карагандинский университет им. академика Е.А.Букетова </li>\n" +
                "  <li>Ualikhanov University </li>\n" +
                "  <li>Кокшетауский университет им. А.Мырзахметова </li>\n" +
                "  <li>Toraighyrov University </li>\n" +
                "  <li>Рудненский индустриальный институт </li>\n" +
                "  <li>Северо-Казахстанский университет имени Манаша Козыбаева </li>\n" +
                "  <li>Университет Шакарима </li>\n" +
                "  <li>Университет «Туран-Астана» </li>\n" +
                "  <li>Южно-Казахстанский государственный университет им. М.Ауэзова </li>\n" +
                "  <li>Alikhan Bokeikhan University </li>\n" +
                "  <li>Актюбинский региональный университет им. К.Жубанова </li>\n" +
                "  <li>Казахско-Русский международный университет </li>\n" +
                "  <li>Caspian University </li>\n" +
                "  <li>Баишев Университет </li>\n" +
                "  <li>Университет дружбы народов им. академика А.Куатбекова </li>\n" +
                "  <li>Центрально-Азиатский инновационный университет </li>\n" +
                "  <li>Жетысуский государственный университет им. И.Жансугурова </li>\n" +
                "  <li>Кызылординский университет им. Коркыт Ата  </li>\n" +
                "  <li>Университет «Болашак» </li>\n" +
                "  <li>Таразский государственный университет им. М.Х.Дулати </li>\n" +
                "  <li>Университет «Сырдария» </li>\n" +
                "  <li>Международный казахско-турецкий университет им. Х.А.Ясави </li>\n" +
                "  <li>Южно-Казахстанский государственный педагогический университет </li>\n" +
                "  <li>Евразийский технологический университет </li>\n" +
                "  <li>Казахстанский университет инновационных и телекоммуникационных систем </li>\n" +
                "  <li>Центрально-Казахстанская академия </li>\n" +
                "  <li>Гуманитарно-технический институт «Ақмешит» </li>\n" +
                "  <li>Международный университет Астана </li>\n" +
                "  <li>[КазНУИ] Казахский Национальный Университет Искусств</li>\n" +

            "</ul>";
            document.getElementById("UniList").innerHTML = UniList;
        } else if (name == "econ")  {
            document.getElementById("PathName").innerText = " Экономика и маркетинг";
            document.getElementById("titleOfBox").innerText = " Экономика и маркетинг";
            document.getElementById("subjectText").innerText = "Ваши результаты говорят о склонности к профессиям в сфере маркетинга и экономики. Экономические специальности из года в год пользуются большой популярностью у абитуриентов. Специалисты в области экономики занимаются решением широкого спектра вопросов в организациях: от расчёта цен на продукцию и создания системы мотивации для работников до анализа финансовых показателей предприятия.";

            let myList = "<ul>\n" +
                "  <li>Экономика (профильные предметы – математика и география) </li>\n" +
                "  <li>Менеджмент </li>\n" +
                "  <li>Государственное и местное управление (профильные предметы – математика и география) </li>\n" +
                "  <li>Учет и аудит (профильные предметы – математика и география) </li>\n" +
                "  <li>Финансы (профильные предметы – математика и география) </li>\n" +
                "  <li>Государственный аудит (профильные предметы – математика и география) </li>\n" +
                "  <li>Маркетинг (профильные предметы – математика и география) </li>\n" +
                "</ul>";
            document.getElementById("subjectList").innerHTML = myList;
            let UniList = "<ul>\n" +
                "  <li>Almaty Management University </li>\n" +
                "  <li>Университет КИМЭП </li>\n" +
                "  <li>Университет им. Сулеймана Демиреля </li>\n" +
                "  <li>Алматинская академия экономики и статистики </li>\n" +
                "  <li>Западно-Казахстанский университет им. М.Утемисова </li>\n" +
                "  <li>Казахская академия труда и социальных отношений </li>\n" +
                "  <li>Казахская автомобильно-дорожная академия им. Л.Б.Гончарова </li>\n" +
                "  <li>Казахский агротехнический университет им. С.Сейфуллина </li>\n" +
                "  <li>Университет КАЗГЮУ им. М.С.Нарикбаева </li>\n" +
                "  <li>Казахский национальный педагогический университет им. Абая </li>\n" +
                "  <li>Казахский национальный университет им. аль-Фараби </li>\n" +
                "  <li>Казахский университет международных отношений и мировых языков им. Абылай хана </li>\n" +
                "  <li>Казахский университет экономики, финансов и международной торговли </li>\n" +
                "  <li>Университет Нархоз </li>\n" +
                "  <li>Казахстанский инженерно-технологический университет </li>\n" +
                "  <li>Казахстанско-Британский технический университет </li>\n" +
                "  <li>Казахстанско-Немецкий университет </li>\n" +
                "  <li>Карагандинский технический университет </li>\n" +
                "  <li>Карагандинский университет им. академика Е.А.Букетова </li>\n" +
                "  <li>Карагандинский университет Казпотребсоюза </li>\n" +
                "  <li>Toraighyrov University </li>\n" +
                "  <li>Университет «Мирас» </li>\n" +
                "  <li>Университет «Туран» </li>\n" +
                "  <li>Университет международного бизнеса (UIB) </li>\n" +
                "  <li>Южно-Казахстанский государственный университет им. М.Ауэзова </li>\n" +
                "  <li>Казахско-Русский международный университет </li>\n" +
                "  <li>Caspian University </li>\n" +
                "  <li>Карагандинский университет Казпотребсоюза, филиал в г. Шымкент </li>\n" +
                "  <li>Жетысуский государственный университет им. И.Жансугурова </li>\n" +
                "  <li>Таразский государственный университет им. М.Х.Дулати </li>\n" +
                "  <li>Костанайский региональный университет им. А.Байтурсынова </li>\n" +
                "  <li>Казахский национальный аграрный исследовательский университет </li>\n" +
                "  <li>Гуманитарно-техническая академия </li>\n" +
                "  <li>Карагандинский университет Казпотребсоюза, филиал в г. Нур-Султан </li>\n" +
                "  <li>Международный университет Астана </li>\n" +
                "</ul>";
            document.getElementById("UniList").innerHTML = UniList;
        } else if (name == "psych")  {
            document.getElementById("PathName").innerText = " Психолого-педагогическое";
            document.getElementById("titleOfBox").innerText = " Психолого-педагогическое";
            document.getElementById("subjectText").innerText = "Полученные высокие баллы по шкале психолого-педагогического направления означают, что Вы успешно можете овладеть специальностями, связанными с обучением и воспитанием, а также добиться успеха в области психологии и психоконсультирования.";

            let myList = "<ul>\n" +
                "  <li>Социальная психология и самопознание (профильные предметы – биология и география) </li>\n" +
                "  <li>Педагогика и психология (профильные предметы – биология и география) </li>\n" +
                "  <li>Дошкольное обучение и воспитание (профильные предметы – биология и география) </li>\n" +
                "  <li>Учитель по предмету (профильные предметы – биология и география) </li>\n" +
                "  <li>Педагогика и методика начального образования (профильные предметы – биология и география) </li>\n" +
                "  <li>Дефектология (профильные предметы – биология и география) </li>\n" +
                "  <li>Специальная педагогика (профильные предметы – биология и география) </li>\n" +
                "  <li>Психология (профильные предметы – биология и география) </li>\n" +
                "</ul>";
            document.getElementById("subjectList").innerHTML = myList;
            let UniList = "<ul>\n" +
                "  <li>Университет «Алматы»  </li>\n" +
                "  <li>Аркалыкский педагогический институт им. Ы.Алтынсарина  </li>\n" +
                "  <li>Атырауский университет им. Х.Досмухамедова  </li>\n" +
                "  <li>Восточно-Казахстанский университет им. С.Аманжолова  </li>\n" +
                "  <li>Западно-Казахстанский инновационно-технологический университет  </li>\n" +
                "  <li>Евразийский гуманитарный институт  </li>\n" +
                "  <li>Евразийский национальный университет им. Л.Н.Гумилёва  </li>\n" +
                "  <li>Западно-Казахстанский университет им. М.Утемисова  </li>\n" +
                "  <li>Казахский государственный женский педагогический университет  </li>\n" +
                "  <li>Казахский национальный педагогический университет им. Абая  </li>\n" +
                "  <li>Казахстанско-Американский свободный университет  </li>\n" +
                "  <li>Карагандинский университет им. академика Е.А.Букетова  </li>\n" +
                "  <li>Академия «Bolashaq»  </li>\n" +
                "  <li>Ualikhanov University  </li>\n" +
                "  <li>Кокшетауский университет им. А.Мырзахметова  </li>\n" +
                "  <li>Павлодарский педагогический университет  </li>\n" +
                "  <li>Северо-Казахстанский университет имени Манаша Козыбаева   </li>\n" +
                "  <li>Университет Шакарима  </li>\n" +
                "  <li>Университет «Мирас»  </li>\n" +
                "  <li>Шымкентский университет  </li>\n" +
                "  <li>Южно-Казахстанский государственный университет им. М.Ауэзова  </li>\n" +
                "  <li>SILKWAY International University  </li>\n" +
                "  <li>Alikhan Bokeikhan University  </li>\n" +
                "  <li>Актюбинский региональный университет им. К.Жубанова  </li>\n" +
                "  <li>Yessenov University  </li>\n" +
                "  <li>Казахско-Русский международный университет  </li>\n" +
                "  <li>Баишев Университет  </li>\n" +
                "  <li>Жетысуский государственный университет им. И.Жансугурова  </li>\n" +
                "  <li>Кызылординский университет им. Коркыт Ата  </li>\n" +
                "  <li>Университет «Болашак»  </li>\n" +
                "  <li>Международный Таразский инновационный институт  </li>\n" +
                "  <li>Университет «Сырдария»  </li>\n" +
                "  <li>Международный казахско-турецкий университет им. Х.А.Ясави  </li>\n" +
                "  <li>Костанайский социально-технический университет им. академика З.Алдамжар  </li>\n" +
                "  <li>Южно-Казахстанский государственный педагогический университет  </li>\n" +
                "  <li>Евразийский технологический университет  </li>\n" +
                "  <li>Центрально-Казахстанская академия  </li>\n" +
                "  <li>Жезказганский университет им. О.А.Байконурова  </li>\n" +
                "  <li>Международный университет Астана  </li>\n" +
                "</ul>";
            document.getElementById("UniList").innerHTML = UniList;
        } else if (name == "soc")  {
            document.getElementById("PathName").innerText = " Социально-историческое";
            document.getElementById("titleOfBox").innerText = " Социально-историческое";
            document.getElementById("subjectText").innerText = "По результатам теста можно сделать вывод, что Вас привлекают области знания, связанные с историей, археологией, а также закономерности существования общественных групп и процессы, происходящие в обществе.";

            let myList = "<ul>\n" +
                "  <li>Социология (профильные предметы – математика и география ) </li>\n" +
                "  <li>Социальная работа (профильные предметы – география и иностранный язык ) </li>\n" +
                "  <li>Религиоведение (2 творческих экзамена ) </li>\n" +
                "  <li>Философия (профильные предметы – история и география ) </li>\n" +
                "  <li>Культурология (профильные предметы – иностранный язык и история  ) </li>\n" +
                "  <li>История (профильные предметы – история и география ) </li>\n" +
                "  <li>Археология и этнология (профильные предметы – история и география ) </li>\n" +
                "  <li>Политология (профильные предметы – иностранный язык и история ) </li>\n" +
                "  <li>Юриспруденция (профильные предметы – всемирная история и основы права ) </li>\n" +
                "</ul>";
            document.getElementById("subjectList").innerHTML = myList;
            let UniList = "<ul>\n" +
                "  <li>Ualikhanov University  </li>\n" +
                "  <li>Yessenov University  </li>\n" +
                "  <li>Актюбинский региональный университет им. К.Жубанова </li>\n" +
                "  <li>Аркалыкский педагогический институт им. Ы.Алтынсарина  </li>\n" +
                "  <li>Атырауский университет им. Х.Досмухамедова  </li>\n" +
                "  <li>Восточно-Казахстанский университет им. С.Аманжолова  </li>\n" +
                "  <li>Евразийский гуманитарный институт  </li>\n" +
                "  <li>Евразийский национальный университет им. Л.Н.Гумилёва  </li>\n" +
                "  <li>Жетысуский государственный университет им. И.Жансугурова  </li>\n" +
                "  <li>Западно-Казахстанский инновационно-технологический университет  </li>\n" +
                "  <li>Западно-Казахстанский университет им. М.Утемисова  </li>\n" +
                "  <li>Казахский государственный женский педагогический университет  </li>\n" +
                "  <li>Казахский национальный педагогический университет им. Абая  </li>\n" +
                "  <li>Карагандинский университет им. академика Е.А.Букетова  </li>\n" +
                "  <li>Кокшетауский университет им. А.Мырзахметова  </li>\n" +
                "  <li>Костанайский социально-технический университет им. академика З.Алдамжар  </li>\n" +
                "  <li>Кызылординский университет им. Коркыт Ата  </li>\n" +
                "  <li>Международный казахско-турецкий университет им. Х.А.Ясави  </li>\n" +
                "  <li>Международный Таразский инновационный институт  </li>\n" +
                "  <li>Международный университет Астана  </li>\n" +
                "  <li>Павлодарский педагогический университет  </li>\n" +
                "  <li>Северо-Казахстанский университет имени Манаша Козыбаева  </li>\n" +
                "  <li>Университет «Болашак»  </li>\n" +
                "  <li>Университет «Сырдария»  </li>\n" +
                "  <li>Университет дружбы народов им. академика А.Куатбекова  </li>\n" +
                "  <li>Университет Шакарима  </li>\n" +
                "  <li>Центрально-Азиатский инновационный университет  </li>\n" +
                "  <li>Шымкентский университет  </li>\n" +
                "  <li>Южно-Казахстанский государственный педагогический университет  </li>\n" +
                "  <li>Южно-Казахстанский государственный университет им. М.Ауэзова  </li>\n" +
                "  <li>КАЗГЮУ им. М.Нарикбаева </li>\n" +
                "</ul>";
            document.getElementById("UniList").innerHTML = UniList;
        } else if (name == "serviceVar")  {
            document.getElementById("PathName").innerText = " Сфера услуг и производство";
            document.getElementById("titleOfBox").innerText = " Сфера услуг и производство";
            document.getElementById("subjectText").innerText = "Сфера услуг и производство является доминирующей областью, в которой Вы могли бы успешно реализовать свой потенциал. Данная область достаточно динамично расширяется в Казахстане и охватывает огромный спектр деятельности.";

            let myList = "<ul>\n" +
                "  <li>Агрономия (профильные предметы  – химия и биология) </li>\n" +
                "  <li>Почвоведение и агрохимия (профильные предметы  – химия и биология) </li>\n" +
                "  <li>Технология производства продуктов животноводства (профильные предметы  – химия и биология) </li>\n" +
                "  <li>Технология перерабатывающих производств (профильные предметы  – химия и биология) </li>\n" +
                "  <li>Технология и конструирования изделий легкой промышленности(профильные предметы – математика и физика) </li>\n" +
                "  <li>Технология и проектирование текстильных материалов (профильные предметы – математика и физика) </li>\n" +
                "  <li>Технология продовольственных продуктов (профильные предметы  – химия и биология) </li>\n" +
                "  <li>Пищевая биотехнология (профильные предметы  – химия и биология) </li>\n" +
                "  <li>Туризм (профильные предметы – география и иностранный язык) </li>\n" +
                "  <li>Культурно-досуговая работа (2 творческих экзамена) </li>\n" +
                "  <li>Ресторанное дело и гостиничный бизнес (профильные предметы – география и иностранный язык) </li>\n" +
                "  <li>Логистика (профильные предметы – математика и иностранный язык) </li>\n" +
                "</ul>";
            document.getElementById("subjectList").innerHTML = myList;
            let UniList = "<ul>\n" +
                "  <li>Инновационный Евразийский Университет </li>\n" +
                "  <li>Казахский агротехнический университет им. С.Сейфуллина </li>\n" +
                "  <li>Казахский национальный аграрный исследовательский университет </li>\n" +
                "  <li>Казахский университет технологии и бизнеса </li>\n" +
                "  <li>Казахстанский инженерно-технологический университет </li>\n" +
                "  <li>Карагандинский университет Казпотребсоюза </li>\n" +
                "  <li>Карагандинский университет Казпотребсоюза, филиал в г. Шымкент </li>\n" +
                "  <li>Костанайский региональный университет им. А.Байтурсынова </li>\n" +
                "  <li>Кызылординский университет им. Коркыт Ата </li>\n" +
                "  <li>Северо-Казахстанский университет имени Манаша Козыбаева </li>\n" +
                "  <li>Таразский государственный университет им. М.Х.Дулати </li>\n" +
                "  <li>Университет Шакарима </li>\n" +
                "  <li>Almaty Management University </li>\n" +
                "  <li>Алматинский технологический университет </li>\n" +
                "  <li>Жетысуский государственный университет им. И.Жансугурова </li>\n" +
                "  <li>Казахская академия спорта и туризма </li>\n" +
                "  <li>Казахская академия труда и социальных отношений </li>\n" +
                "  <li>Казахский национальный педагогический университет им. Абая </li>\n" +
                "  <li>Казахский национальный университет им. аль-Фараби </li>\n" +
                "  <li>Казахский университет международных отношений и мировых языков им. Абылай хана </li>\n" +
                "  <li>Казахстанско-Американский свободный университет </li>\n" +
                "  <li>Казахстанско-Швейцарский институт туризма и гостиничного бизнеса при АТУ  </li>\n" +
                "  <li>Карагандинский университет им. академика Е.А.Букетова </li>\n" +
                "  <li>Карагандинский университет Казпотребсоюза, филиал в г. Нур-Султан </li>\n" +
                "  <li>Университет Нархоз </li>\n" +
                "  <li>Университет «Туран» </li>\n" +
                "  <li>Университет международного бизнеса (UIB) </li>\n" +
                "  <li>Южно-Казахстанский государственный университет им. М.Ауэзова </li>\n" +
                "</ul>";
            document.getElementById("UniList").innerHTML = UniList;
        }

    if (strong.length != 0){
        let mytable = "<table><tr>";
        {  mytable += "<th>высокие значения :</th>" + "<td>" + strong + "</td>"; }
        mytable += "</tr></table>";
        document.getElementById("tableID").innerHTML = mytable;
    }

    let mytable = "<table><tr>";
    {  mytable += "<th>средние значения :</th>" + "<td>" + middle + "</td>"; }
    mytable += "</tr></table>";
    document.getElementById("tableID").innerHTML = mytable;

    let mytable2 = "<table><tr>";
    {  mytable2 += "<th>ваш результат :</th>" + "<td>" + motivation + "</td>"; }
    mytable2 += "</tr></table>";
    document.getElementById("tableID2").innerHTML = mytable2;

    let array3 = strong.concat(middle);
    for (let i = 0; i < array3.length; i++) {

        if (array3[i] === "Лидерство"){

            // Create a p element:
            const para = document.createElement("p");
            const paraTitle = document.createElement("h2");

            // Create a text node:
            const node = document.createTextNode("У вас есть все шансы стать качественным лидером. Скорее всего, вам не хватает некоторых знаний и опыта, определенности направлений развития, практики, чтобы ваши навыки стали устойчивыми. Вам нужно понять, что лидер не претендует на экспертность во всем, его задача – организовать, сплотить людей для достижения цели, побудить знающих людей начать претворять в жизнь ваши идеи. Лучшим способом развить в себе лидерские качества, быть рядом с лидером, работать в его команде, подражать ему и потом транслировать этот опыт на другую команду.");
            const nodeTitle = document.createTextNode("Лидерство");

            // Append text node to the p element:
            para.appendChild(node);

            paraTitle.appendChild(nodeTitle);

            // Append the p element to the body:
            document.getElementById("myDIV").appendChild(para);
            document.getElementById("myDIV").appendChild(paraTitle);
        }
        else if(array3[i] === "Социальный интеллект"){
            // Create a p element:
            const para = document.createElement("p");
            const paraTitle = document.createElement("h4");

            // Create a text node:
            const nodeTitle = document.createTextNode("Социальный интеллект");
            const node = document.createTextNode("Вы  стремитесь к контактам с людьми, не ограничиваете круг своих знакомых, отстаиваете свое мнение. Но часто действуете шаблонными образцами поведения. В повседневной жизни практически всегда достигаете поставленных перед собой целей. Общение с людьми не вызывает особых трудностей, хотя Вы не всегда понимаете поступки и действия людей.");

            // Append text node to the p element:
            para.appendChild(node);

            paraTitle.appendChild(nodeTitle);

            // Append the p element to the body:
            document.getElementById("myDIV").appendChild(paraTitle);
            document.getElementById("myDIV").appendChild(para);
        }
        else if(array3[i] === "Организованность"){
            const para = document.createElement("p");
            const paraTitle = document.createElement("h4");

            // Create a text node:
            const nodeTitle = document.createTextNode("Организованность");
            const node = document.createTextNode("\n" +
                "Вы в умеренной степени склонны разрабатывать четкие планы и планомерно следовать им при достижении поставленных целей. Вы достаточно организованны и структурированы, способны на волевые усилия, хотя и можете оставлять начатое дело, переключаясь на более значимые для Вас виды деятельности. Вы достаточно гибкий человек в планировании своей деятельности и в построении отношений, тем не менее Вы стремитесь выполнять данные Вами обязательства. При планировании своего рабочего и личного времени Вы можете полагаться как на вспомогательные средства (ежедневники, записные книжки, планнинги), так и на свою природную организованность. ");

            // Append text node to the p element:
            para.appendChild(node);

            paraTitle.appendChild(nodeTitle);

            // Append the p element to the body:
            document.getElementById("myDIV").appendChild(paraTitle);
            document.getElementById("myDIV").appendChild(para);
        }
        else if(array3[i] === "Логика"){
            const para = document.createElement("p");
            const paraTitle = document.createElement("h4");

            // Create a text node:
            const nodeTitle = document.createTextNode("Логика");
            const node = document.createTextNode("По результатам теста, Вы показали хороший уровень логического мышления, что означает, что Вы способны проводить связи между разными фактами, чтобы сформировать складную картину чего-либо, какой-то действительности, какого-то события. Вы способны выделять существенные связи, устанавливать и структурировать отношения между элементами информации, строить целостный образ проблемной ситуации. Однако, при поступлении сложной или противоречивой информации, Вы испытываете определенные затруднения в формировании правильных выводов. Вам не следует принимать важных решений, не рассмотрев вопрос под разными углами зрения или в состоянии стресса, нехватки времени.");

            // Append text node to the p element:
            para.appendChild(node);

            paraTitle.appendChild(nodeTitle);

            // Append the p element to the body:
            document.getElementById("myDIV").appendChild(paraTitle);
            document.getElementById("myDIV").appendChild(para);
        }
        else if(array3[i] === "Креативность"){
            const para = document.createElement("p");
            const paraTitle = document.createElement("h4");

            // Create a text node:
            const nodeTitle = document.createTextNode("Креативность");
            const node = document.createTextNode("Вы характеризуетесь довольно таки хорошим уровнем развития творческих способностей, что говорит о том, что Вы предпочитаете думать и действовать привычным для Вас способом.  Однако, в отдельных видах деятельности Вы способны детализировать предложенное задание и успешно прогнозировать результат замысла.");

            // Append text node to the p element:
            para.appendChild(node);

            paraTitle.appendChild(nodeTitle);

            // Append the p element to the body:
            document.getElementById("myDIV").appendChild(paraTitle);
            document.getElementById("myDIV").appendChild(para);
        }
    }

    menuToggle.onclick = function(){
        header.classList.toggle('open');
        container.classList.toggle('hide');
        languageToggle.classList.toggle('hide');
    }

</script>
</body>
</html>