<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareerGuide.kz</title>

    <link rel="icon" type="image/x-icon" href="/css/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/results.css"/>
</head>

<body>
<header>
    <a href="home" class="logo">CareerGuide.kz</a>
    <div class="group">
        <ul class="navigation">
            <li><a href="home">Главная страница</a></li>
            <li><a href="resultsDebugQaz">Мой результаты</a></li>
            <li><a href="logout">Выйти</a></li>
        </ul>
        <ion-icon name="menu-outline" class="menuToggle"></ion-icon>
    </div>
</header>
<div class = "box">
    <div class = "titleOfresult">
        <div class = "titleOfresult2">
            <div><h2>Тесттің нәтижесі</h2>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Қазақша</button>
                <div class="dropdown-content">
                    <a href="resultsDebugQaz">Қазақша</a>
                    <a href="resultsDebug">На русском</a>
                </div>
            </div>
        </div>
        <div class="resultsDesign">
            <div class="ImagePart">
                <img class="illustration1" src="/css/images/happy.svg">
            </div>
            <div>
                <p>1)Мамандық</p>
                <table id="myTable">
                    <tr id>
                        <th>нәтиже:</th>
                        <td id="PathName" ></td>
                    </tr>
                </table>
                <p>2)Жеке қасиеттер</p>
                <table id="tableID"></table>

                <p>3)Сізге сай жетекші мотив</p>
                <table id="tableID2"></table>
            </div>
        </div>
    </div>
</div>

<div class="boxWithText">
    <div class = "titleOfBoxes">
        <h3 id="titleOfBox"></h3>
        <p id="subjectText"></p>
        <br>
        <p><Strong>Сізге қарастыруға болатын мамандықтар:</Strong></p>
        <ul class="list-group list-group-flush" id="subjectList">0</ul>
    </div>
    <br>

    <div>
        <p><Strong>Аталған мамандықтар бойынша білім беру қызметтерін ұсынатын оқу орындарының тізімі:</Strong></p>
        <ul class="list-group list-group-flush" id="UniList">0</ul>
    </div>
</div>

<div class="boxWithText">
    <div id="myDIV" class = "titleOfBoxes">
        <h3>Жеке қасиеттер</h3>

    </div>
    <br>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script th:inline="javascript">
    let navigation = document.querySelector('.navigation');
    let menuToggle = document.querySelector('.menuToggle');
    let header = document.querySelector('header');

    /*<![CDATA[*/
    let physMat= /*[[${answersResults.physMat}]]*/ 'physMat';
    let chemBio= /*[[${answersResults.chemBio}]]*/ 'chemBio';
    let ling= /*[[${answersResults.ling}]]*/ 'ling';
    let tech= /*[[${answersResults.tech}]]*/ 'tech';
    let itVar= /*[[${answersResults.it}]]*/ 'it';
    let sport= /*[[${answersResults.sport}]]*/ 'sport';
    let art= /*[[${answersResults.art}]]*/ 'art';
    let econ= /*[[${answersResults.econ}]]*/ 'econ';
    let psych= /*[[${answersResults.psych}]]*/ 'psych';
    let soc= /*[[${answersResults.soc}]]*/ 'soc';
    let serviceVar= /*[[${answersResults.service}]]*/ 'service';

    let strong = [];
    let middle = [];
    let motivation = [];

    let leader = /*[[${answersResults.leader}]]*/ 'leader';
    if(leader > 49 && leader < 80) {middle.push("Көшбасшылық");}
    else if(leader > 80){strong.push("Көшбасшылық");}
    let logic = /*[[${answersResults.logic}]]*/ 'logic';
    if(logic > 49 && logic < 80) {middle.push("Логика");}
    else if(logic > 80){strong.push("Логика");}
    let creativity = /*[[${answersResults.creativity}]]*/ 'creativity';
    if(creativity > 49 && creativity < 80) {middle.push("Шығармашылық");}
    else if(creativity > 80){strong.push("Шығармашылық");}
    let organized = /*[[${answersResults.organized}]]*/ 'organized';
    if(organized > 49 && organized < 80) {middle.push("Ұйымдастырушылық");}
    else if(organized > 80){strong.push("Ұйымдастырушылық");}
    let socialInt = /*[[${answersResults.socialInt}]]*/ 'socialInt';
    if(socialInt > 49 && socialInt < 80) {middle.push("Əлеуметтік интеллект");}
    else if(socialInt > 80){strong.push("Əлеуметтік интеллект");}
    let motiv = /*[[${answersResults.motiv}]]*/ 'motiv';
    let antiMotiv = /*[[${answersResults.antiMotiv}]]*/ 'antiMotiv';
    if(motiv > 50) {motivation.push("Табысқа жету мотивациясы");}
    else if(antiMotiv > 50) {motivation.push("Сəтсіздіктерден аулақ болу мотивациясы");}
    /*]]>*/

    const subjects = new Map([
        [physMat, "physMat"],
        [chemBio, "chemBio"],
        [ling, "ling"],
        [tech, "tech"],
        [itVar, "itVar"],
        [sport, "sport"],
        [art, "art"],
        [econ, "econ"],
        [psych, "psych"],
        [soc, "soc"],
        [serviceVar, "serviceVar"],
    ]);

    let theHighest = Math.max(physMat, chemBio, ling, tech, itVar, sport, art, econ, psych, soc, serviceVar);
    let name = null;
    if(theHighest != 0){
        name = subjects.get(theHighest);
    }
    if (name == "physMat") {
        document.getElementById("PathName").innerText = " Физика-математикалық бағыт";
        document.getElementById("titleOfBox").innerText = " Физика-математикалық бағыт";
        document.getElementById("subjectText").innerText = "Тест нəтижелері бойынша сіз жинаған\n" +
            "физика-математикалық бағыттағы жоғары көрсеткіштер сіздің «дəл» \n" +
            "ғылымдарға жəне олармен байланысты көптеген мамандықтарға бейімділігіңіз\n" +
            "туралы айтады.";
        let myList = "<ul>\n" +
            "  <li>Математика (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Қолданбалы математика (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Математикалық жəне компьютерлік модельдеу (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Физика (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Автоматтандыру жəне басқару (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Ядролық физика (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Механика (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Астрономия (бейіндік пəндер – математика жəне физика) </li>\n" +
            "</ul>";
        document.getElementById("subjectList").innerHTML = myList;

        let UniList = "<ul>\n" +
            "  <li>Аркалыкский педагогический институт им. Ы.Алтынсарина</li>\n" +
            "  <li>Восточно-Казахстанский университет им. С.Аманжолова</li>\n" +
            "  <li>Западно-Казахстанский университет им. М.Утемисова</li>\n" +
            "  <li>Казахский национальный педагогический университет им. Абая</li>\n" +
            "  <li>Карагандинский университет им. академика Е.А.Букетова</li>\n" +
            "  <li>Ualikhanov University</li>\n" +
            "  <li>Северо-Казахстанский университет имени Манаша Козыбаева</li>\n" +
            "  <li>Университет Шакарима</li>\n" +
            "  <li>Южно-Казахстанский государственный университет им. М.Ауэзовa</li>\n" +
            "  <li>Актюбинский региональный университет им. К.Жубанова</li>\n" +
            "  <li>Центрально-Азиатский инновационный университет</li>\n" +
            "  <li>Жетысуский государственный университет им. И.Жансугурова</li>\n" +
            "  <li>Международный казахско-турецкий университет им. Х.А.Ясави</li>\n" +
            "  <li>Южно-Казахстанский государственный педагогический университет</li>\n" +
            "  <li>Евразийский национальный университет им. Л.Н.Гумилёва</li>\n" +
            "</ul>";
        document.getElementById("UniList").innerHTML = UniList;

    } else if (name == "chemBio")  {
        document.getElementById("PathName").innerText = " Химиялық-биологиялық бағыт";
        document.getElementById("titleOfBox").innerText = " Химиялық-биологиялық бағыт";
        document.getElementById("subjectText").innerText = "Сіз химия-биологиялық профиль мамандықтарына бейімділіктің жоғары деңгейін көрсеттіңіз. Химия мен биологияны білу медицина, фармакология, биохимия жəне биофизика, молекулалық биология жəне т.б. салаларда жұмыс істеуге мүмкіндік береді.";

        let myList = "<ul>\n" +
            "  <li>Жалпы медицина (бейіндік пəндер – химия жəне биология) </li>\n" +
            "  <li>Стоматология (бейіндік пəндер – химия жəне биология) </li>\n" +
            "  <li>Мейірбике ісі (бейіндік пəндер – химия жəне биология) </li>\n" +
            "  <li>Фармацевтика (бейіндік пəндер – химия жəне биология) </li>\n" +
            "  <li>Экология (бейіндік пəндер – биология жəне география) </li>\n" +
            "  <li>Биотехнология (бейіндік пəндер – химия жəне биология) </li>\n" +
            "  <li>Биохимия (бейіндік пəндер – химия жəне биология) </li>\n" +
            "  <li>Ветеринария (бейіндік пəндер – химия жəне биология) </li>\n" +
            "  <li>Педиатрия (бейіндік пəндер – химия жəне биология)</li>\n" +
            "</ul>";
        document.getElementById("subjectList").innerHTML = myList;

        let UniList = "<ul>\n" +
            "  <li>Медицинский университет Астана - Нур-Султана (Астаны)</li>\n" +
            "  <li>Казахский национальный медицинский университет им.С. Д. Асфендиярова (КазНМУ) - Алматы</li>\n" +
            "  <li>Казахстанско-Российский медицинский университет (КРМУ) - Алматы</li>\n" +
            "  <li>Западно-Казахстанский государственный медицинский университет имени М. Оспанова (ЗКГМУ) - Актобе</li>\n" +
            "  <li>Атырауский государственный университет имени Х. Досмухамедова (АТГУ) - Атырау</li>\n" +
            "  <li>Атырауский государственный университет имени Х. Досмухамедова (АТГУ) - Атырау</li>\n" +
            "  <li>НАО Медицинский университет Семей</li>\n" +
            "</ul>";
        document.getElementById("UniList").innerHTML = UniList;

    } else if (name == "ling")  {
        document.getElementById("PathName").innerText = " Лингвистикалық бағыт";
        document.getElementById("titleOfBox").innerText = " Лингвистикалық бағыт";
        document.getElementById("subjectText").innerText = "Филологиялық-лингвистикалық бағыттағы\n" +
            "жоғары көрсеткіштер тілді, əдебиетті, сондай-ақ журналистика мен баспа\n" +
            "саласындағы қызметті зерттеуге байланысты мамандықтарға бейімділікті\n" +
            "білдіреді.";

        let myList = "<ul>\n" +
            "  <li>Қазақ тілі мен əдебиеті (бейіндік пəндер – Қазақ əдебиеті жəне тарихы) </li>\n" +
            "  <li>Орыс тілі мен əдебиеті (бейіндік пəндер – Орыс əдебиеті мен тарихы) </li>\n" +
            "  <li>Шет тілі (бейіндік пəндер – шет тілі жəне тарихы) </li>\n" +
            "  <li>Қазақ филологиясы (бейіндік пəндер – Қазақ əдебиеті жəне тарихы) </li>\n" +
            "  <li>Филология (шет тілдері) (бейіндік пəндер – шет тілі жəне тарихы) </li>\n" +
            "  <li>Халықаралық қатынастар (бейіндік пəндер – шет тілі мен тарихы) </li>\n" +
            "  <li>Шығыстану (бейіндік пəндер – шет тілі мен тарихы) </li>\n" +
            "  <li>Түркология (бейіндік пəндер – шет тілі мен тарихы) </li>\n" +
            "  <li>Аударма ісі (бейіндік пəндер – шет тілі мен тарихы) </li>\n" +
            "  <li>Аймақтану (бейіндік пəндер – шет тілі мен тарихы) </li>\n" +
            "  <li>Баспа ісі (2 шығармашылық емтихан) </li>\n" +
            "  <li>Журналистика (2 шығармашылық емтихан) </li>\n" +
            "</ul>";
        document.getElementById("subjectList").innerHTML = myList;
        let UniList = "<ul>\n" +
            "  <li>Евразийский национальный университет им. Л.Н.Гумилёва </li>\n" +
            "  <li>Казахский национальный педагогический университет им. Абая </li>\n" +
            "  <li>Казахский национальный университет им. аль-Фараби </li>\n" +
            "  <li>Казахский университет международных отношений и мировых языков им. Абылай хана  </li>\n" +
            "  <li>Карагандинский университет им. академика Е.А.Букетова  </li>\n" +
            "  <li>Toraighyrov University  </li>\n" +
            "  <li>Северо-Казахстанский университет имени Манаша Козыбаева </li>\n" +
            "  <li>Университет Шакарима  </li>\n" +
            "  <li>Южно-Казахстанский государственный университет им. М.Ауэзова  </li>\n" +
            "  <li>Актюбинский региональный университет им. К.Жубанова  </li>\n" +
            "  <li>Таразский государственный университет им. М.Х.Дулати  </li>\n" +
            "  <li>Международный казахско-турецкий университет им. Х.А.Ясави  </li>\n" +
            "  <li>Костанайский региональный университет им. А.Байтурсынова  </li>\n" +
            "  <li>Костанайский социально-технический университет им. академика З.Алдамжар  </li>\n" +
            "  <li>Центрально-Казахстанская академия  </li>\n" +
            "</ul>";
        document.getElementById("UniList").innerHTML = UniList;
    } else if (name == "tech")  {
        document.getElementById("PathName").innerText = " Техникалық бағыт";
        document.getElementById("titleOfBox").innerText = " Техникалық бағыт";
        document.getElementById("subjectText").innerText = "Техникалық ойлау қабілеті адамға техникалық жəне\n" +
            "математикалық ғылымдарды жақсы білуге мүмкіндік береді. Мұндай адамдар\n" +
            "қоршаған шындықты талдағанды ұнатады, олар жағдайдың жеке бөлшектерін\n" +
            "көре алады жəне оларды бағалай алады.";

        let myList = "<ul>\n" +
            "  <li>Мұнай-газ ісі (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Металлургия (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Аспап жасау (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Радиотехника, электроника жəне коммуникациялар (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Стандарттау, сертификаттау жəне метрология (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Машина жасау (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Инженерлік механика (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Инженерия (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Электроника жəне электротехника (бейіндік пəндер – математика жəне физика) </li>\n" +
            "  <li>Ғарыштық техника жəне технологиялар (бейіндік пəндер – математика жəне физика) </li>\n" +
            "</ul>";
        document.getElementById("subjectList").innerHTML = myList;
        let UniList = "<ul>\n" +
            "  <li>Казахский национальный исследовательский технический университет имени К.И.Сатпаева  </li>\n" +
            "  <li>Казахстанско-Британский технический университет  </li>\n" +
            "  <li>Медицинский университет Караганды  </li>\n" +
            "  <li>Казахский национальный аграрный университет  </li>\n" +
            "  <li>Алматинский университет энергетики и связи имени Гумарбека Даукеева  </li>\n" +
            "  <li>Алматинский технологический университет  </li>\n" +
            "  <li>Академия логистики и транспорта  </li>\n" +
            "  <li>Международный университет информационных технологий  </li>\n" +
            "  <li>Западно-Казахстанский аграрно-технический университет имени Жангир-хана  </li>\n" +
            "  <li>Карагандинский государственный индустриальный университет  </li>\n" +
            "  <li>Атырауский университет нефти и газа имени С. Утебаева  </li>\n" +
            "  <li>Казахский университет путей сообщений  </li>\n" +
            "  <li>Казахский университет технологии и бизнеса  </li>\n" +
            "  <li>Казахстанский инженерно-технологический университет </li>\n" +
            "</ul>";
        document.getElementById("UniList").innerHTML = UniList;
    } else if (name == "itVar")  {
        document.getElementById("PathName").innerText = " Компьютер және технология бағыты";
        document.getElementById("titleOfBox").innerText = " Компьютер және технология бағыты";
        document.getElementById("subjectText").innerText = "Ақпараттық технологиялар саласындағы\n" +
            "жоғары көрсеткіштер есептеу техникасы мен телекоммуникациялық жүйелерді\n" +
            "пайдалана отырып, адам қызметінің əртүрлі салаларында ақпаратты алу, сақтау, \n" +
            "беру жəне өңдеу заңдарын, əдістері мен тəсілдерін зерделеумен айналысатын\n" +
            "салада өзіңізді органикалық сезінетіндігіңізді көрсетеді.";

        let myList = "<ul>\n" +
            "  <li>Ақпараттық технологиялар (бейіндік пəндер – математика, физика/ информатика)</li>\n" +
            "  <li>Ақпараттық қауіпсіздік (бейіндік пəндер – математика, физика/информатика)</li>\n" +
            "  <li>Коммуникациялар жəне коммуникациялық технологиялар (бейіндік пəндер – математика, физика)</li>\n" +
            "</ul>";
        document.getElementById("subjectList").innerHTML = myList;
        let UniList = "<ul>\n" +
            "  <li>Алматинский университет энергетики и связи им. Гумарбека Даукеева (АУЭС)</li>\n" +
            "  <li>Международный университет информационных технологий (МУИТ)</li>\n" +
            "  <li>Astana IT University(AITU)</li>\n" +
            "  <li>Казахстанско-британский технический университет(КБТУ)</li>\n" +
            "  <li>Карагандинский технический университет(КарТУ)</li>\n" +
            "  <li>Восточно-Казахстанский технический университет им. Серикбаева (ВКТУ)</li>\n" +
            "</ul>";
        document.getElementById("UniList").innerHTML = UniList;
    } else if (name == "sport")  {
        document.getElementById("PathName").innerText = " Спорттық бағыт жəне əскери іс";
        document.getElementById("titleOfBox").innerText = " Спорттық бағыт жəне əскери іс";
        document.getElementById("subjectText").innerText = "Бұл шкала бойынша ұпайлардың басым болуы дене шынықтыру және спорт және әскери істер саласына деген қызығушылықты көрсетеді. Дегенмен, бұл кәсіби салада денсаулық жағдайына, дене дайындығы деңгейіне қойылатын талаптардың жоғарылағанын ескеру қажет. Сонымен қатар, кейбір әскери жоғары оқу орындарында тек ер талапкерлерге ғана қабылданады.";

        let myList = "<ul>\n" +
            "<li>Дене шынықтыру және спорт (2 шығармашылық емтихан)</li>\n" +
            " <li>Туризм (негізгі пәндер – география және шет тілі) </li>\n" +
            " <li>Мотоатқыш бөлімшелерін басқару (негізгі пәндер – физика және спорт стандарттары) </li>\n" +
            " <li>Танк агрегаттарын басқару (негізгі пән – физика, спорт стандарттары) </li>\n" +
            " <li>Десанттық-шабуылдау бөлімшелерін басқару (негізгі пән - физика, спорт стандарттары) </li>\n" +
            " <li>Барлау бөлімшелерін басқару (негізгі пән - физика, спорт стандарттары) </li>\n" +
            " <li>Зымыран әскерлері мен артиллериялық бөлімшелерді басқару (негізгі пән - физика, спорт стандарттары) </li>\n" +
            " <li>Зымырандық-артиллериялық қызметті ұйымдастыру (негізгі пән – физика, спорт стандарттары) </li>\n" +
            " <li>Әскерлерді радиациялық, химиялық және биологиялық қорғау (негізгі пән - физика, спорт нормалары) </li>\n" +
            " <li>Ұшақтарды (ұшақтарды) пайдалану (негізгі пән - физика, спорт стандарттары) </li>\n" +
            " <li>Ұшақтарды (тікұшақтарды) пайдалану (негізгі пән - физика, спорт стандарттары) </li>\n" +
            " <li>Әуе кемелерін пайдалану (көлік ұшақтары) (негізгі пән - физика, спорт стандарттары) </li>\n" +
            " <li>Авиациялық ұшуды басқару (негізгі пән - физика, спорт ережелері) </li>\n" +
            " <li>Ұшақтар мен қозғалтқыштарды техникалық пайдалану (негізгі пән - физика, спорт стандарттары) </li>\n" +
            " <li>Авиациялық қаруды техникалық пайдалану (негізгі пән – физика, спорт стандарттары) </li>\n" +
            " <li>Авиациялық техниканы техникалық пайдалану (негізгі пән – физика, спорт стандарттары) </li>\n" +
            " <li>Авиациялық радиоэлектрондық жабдықты техникалық пайдалану (негізгі пән – физика, спорт стандарттары) </li>\n" +
            " <li>Әскери істердегі радионавигация (негізгі пән - физика, спорт стандарттары) </li>\n" +
            " <li>Өрт қауіпсіздігі (негізгі пән - физика, спорт стандарттары) </li>\n" +
            " <li>Төтенше жағдайларда қорғау (негізгі пән – физика, спорт стандарттары) </li>\n" +
            " <li>Өрт сөндіру және құтқару ісі (негізгі пән - физика, спорт стандарттары) </li>\n" +
            " <li>Құқық қорғау органдары (негізгі пән - дүниежүзілік тарих, спорт ережелері) </li>\n" +
            "</ul>";
        document.getElementById("subjectList").innerHTML = myList;
        let UniList = "<ul>\n" +
            "  <li>Академия МВД РК (г. Алматы)  </li>\n" +
            "  <li>Карагандинский юридический институт МВД РК (г. Караганда)   </li>\n" +
            "  <li>Академия Комитета уголовно-исполнительной системы МВД РК (г. Костанай)   </li>\n" +
            "  <li>Военный институт сухопутных войск МО РК (г. Алматы)  </li>\n" +
            "  <li>Военный институт Сил Воздушной обороны им. Т. Я. Бегельдинова МО РК (г. Актобе)  </li>\n" +
            "  <li>Академия финансовой полиции Агентства РК по борьбе с экономической и коррупционной преступностью  (г. Щучинск) </li>\n" +
            "  <li>Кокшетауский технический институт МЧС РК (г. Кокшетау)  </li>\n" +
            "  <li>Военный институт иностранных языков МО РК (г. Алматы)  </li>\n" +
            "  <li>Военная академия Национальной Гвардии МВД РК (г. Петропавловск) </li>\n" +
            "  <li>Военно-морской институт МО РК (г. Актау)   </li>\n" +
            "  <li>Национальный университет обороны МО РК (г. Щучинск) </li>\n" +
            "  <li>Академия КНБ РК (г. Алматы) </li>\n" +
            "  <li>Военный институт КНБ РК (г. Алматы) </li>\n" +
            "  <li>Военно-инженерный институт радиоэлектроники и связи МО РК (г. Алматы)</li>\n" +
            "  <li>Жас Улан республиканская школа имени генерала С.К.Нурмагамбетова (г. Астана) </li>\n" +
            "  <li>Военно-техническая школа МО РК (филиалы во всех регионах Казахстана)</li>\n" +
            "  <li>Алматинская республиканская военная школа-интернат имени Бауржана Момышулы</li>\n" +
            "  <li>Карагандинская республиканская военная школа-интернат </li>\n" +
            "  <li>Шымкентская республиканская военная школа-интернат </li>\n" +
            "  <li>Специализированный военный лицей Арыстан для одаренных детей (г. Алматы)</li>\n" +
            "  <li>Кадетский корпус (г. Щучинск, Акмолинская область)</li>\n" +
            "  <li>Пограничная академия КНБ РК</li>\n" +
            "  <li>Семипалатинский юридический колледж МВД РК </li>\n" +
            "  <li>Шымкентский юридический колледж МВД РК</li>\n" +
            "  <li>Актюбинский юридический колледж МВД РК</li>\n" +
            "  <li>Военный колледж спорта СК (ЦСКА) МО РК (г. Алматы)</li>\n" +
            "  <li>Академия гражданской защиты им. М.Габдуллина МЧС РК</li>\n" +
            "</ul>";
        document.getElementById("UniList").innerHTML = UniList;
    } else if (name == "art")  {
        document.getElementById("PathName").innerText = " Көркемдік-эстетикалық бағыт";
        document.getElementById("titleOfBox").innerText = " Көркемдік-эстетикалық бағыт";
        document.getElementById("subjectText").innerText = "Көркемдік-эстетикалық бағыт бағыты көркем образдарды қабылдаумен, негізінен өнермен тығыз байланысты. Бұл шкала бойынша жоғары ұпайлар адамның эстетикалық қажеттіліктері, сезімдері, талғамдары, эстетикалық дағдылары, қабілеттері және өнермен айналысуға құштарлығын көрсетеді.";

        let myList = "<ul>\n" +
            " <li>Дизайн (2 шығармашылық емтихан) </li>\n" +
            " <li>Сурет (2 шығармашылық емтихан) </li>\n" +
            " <li>Мүсінші (2 шығармашылық емтихан) </li>\n" +
            " <li>Графикалық бағыт (2 шығармашылық емтихан) </li>\n" +
            " <li>Дизайн және сән (2 шығармашылық емтихан) </li>\n" +
            " <li>Сәндік өнер (2 шығармашылық емтихан)</li>\n" +
            " <li>Өнер тарихы ((2 шығармашылық емтихан) </li>\n" +
            " <li>Дәстүрлі музыкалық өнер (2 шығармашылық емтихан)</li>\n" +
            " <li>Бағыт (2 шығармашылық емтихан) </li>\n" +
            " <li>Аудио өндіріс (2 шығармашылық емтихан)</li>\n" +
            " <li>Сценография (2 шығармашылық емтихан) </li>\n" +
            " <li>Актерлік шеберлік (2 шығармашылық емтихан) </li>\n" +
            " <li>Хореография (2 шығармашылық емтихан) </li>\n" +
            "</ul>";
        document.getElementById("subjectList").innerHTML = myList;
        let UniList = "<ul>\n" +
            "  <li>Алматинский технологический университет </li>\n" +
            "  <li>Атырауский университет им. Х.Досмухамедова </li>\n" +
            "  <li>Евразийский национальный университет им. Л.Н.Гумилёва </li>\n" +
            "  <li>Западно-Казахстанский университет им. М.Утемисова </li>\n" +
            "  <li>Инновационный Евразийский Университет </li>\n" +
            "  <li>Казахская национальная академия искусств им. Т.К.Жургенова </li>\n" +
            "  <li>Казахский национальный педагогический университет им. Абая </li>\n" +
            "  <li>Satbayev University </li>\n" +
            "  <li>Казахский национальный университет им. аль-Фараби </li>\n" +
            "  <li>Казахский университет технологии и бизнеса </li>\n" +
            "  <li>Казахский университет экономики, финансов и международной торговли </li>\n" +
            "  <li>Карагандинский технический университет </li>\n" +
            "  <li>Карагандинский университет им. академика Е.А.Букетова </li>\n" +
            "  <li>Ualikhanov University </li>\n" +
            "  <li>Кокшетауский университет им. А.Мырзахметова </li>\n" +
            "  <li>Toraighyrov University </li>\n" +
            "  <li>Рудненский индустриальный институт </li>\n" +
            "  <li>Северо-Казахстанский университет имени Манаша Козыбаева </li>\n" +
            "  <li>Университет Шакарима </li>\n" +
            "  <li>Университет «Туран-Астана» </li>\n" +
            "  <li>Южно-Казахстанский государственный университет им. М.Ауэзова </li>\n" +
            "  <li>Alikhan Bokeikhan University </li>\n" +
            "  <li>Актюбинский региональный университет им. К.Жубанова </li>\n" +
            "  <li>Казахско-Русский международный университет </li>\n" +
            "  <li>Caspian University </li>\n" +
            "  <li>Баишев Университет </li>\n" +
            "  <li>Университет дружбы народов им. академика А.Куатбекова </li>\n" +
            "  <li>Центрально-Азиатский инновационный университет </li>\n" +
            "  <li>Жетысуский государственный университет им. И.Жансугурова </li>\n" +
            "  <li>Кызылординский университет им. Коркыт Ата  </li>\n" +
            "  <li>Университет «Болашак» </li>\n" +
            "  <li>Таразский государственный университет им. М.Х.Дулати </li>\n" +
            "  <li>Университет «Сырдария» </li>\n" +
            "  <li>Международный казахско-турецкий университет им. Х.А.Ясави </li>\n" +
            "  <li>Южно-Казахстанский государственный педагогический университет </li>\n" +
            "  <li>Евразийский технологический университет </li>\n" +
            "  <li>Казахстанский университет инновационных и телекоммуникационных систем </li>\n" +
            "  <li>Центрально-Казахстанская академия </li>\n" +
            "  <li>Гуманитарно-технический институт «Ақмешит» </li>\n" +
            "  <li>Международный университет Астана </li>\n" +
            "  <li>[КазНУИ] Казахский Национальный Университет Искусств</li>\n" +

            "</ul>";
        document.getElementById("UniList").innerHTML = UniList;
    } else if (name == "econ")  {
        document.getElementById("PathName").innerText = " Экономика жəне маркетинг";
        document.getElementById("titleOfBox").innerText = " Экономика жəне маркетинг";
        document.getElementById("subjectText").innerText = "Сіздің нәтижелеріңіз маркетинг және экономика саласындағы мамандықтарға бейімділігін көрсетеді. Экономика мамандығы жылдан жылға талапкерлер арасында сұранысқа ие. Экономика саласындағы мамандар ұйымдарда көптеген мәселелермен айналысады: өнім бағасын есептеу және қызметкерлерді ынталандыру жүйесін құрудан бастап кәсіпорынның қаржылық нәтижелерін талдауға дейін.";

        let myList = "<ul>\n" +
            " <li>Экономика (негізгі пәндер – математика және география) </li>\n" +
            "<li>Басқару</li>\n" +
            " <li>Мемлекеттік және жергілікті басқару (негізгі пәндер – математика және география) </li>\n" +
            " <li>Есеп және аудит (негізгі пәндер – математика және география) </li>\n" +
            " <li>Қаржы (негізгі пәндер – математика және география) </li>\n" +
            " <li>Мемлекеттік аудит (негізгі пәндер – математика және география) </li>\n" +
            " <li>Маркетинг (негізгі пәндер – математика және география) </li>\n" +
            "</ul>";
        document.getElementById("subjectList").innerHTML = myList;
        let UniList = "<ul>\n" +
            "  <li>Almaty Management University </li>\n" +
            "  <li>Университет КИМЭП </li>\n" +
            "  <li>Университет им. Сулеймана Демиреля </li>\n" +
            "  <li>Алматинская академия экономики и статистики </li>\n" +
            "  <li>Западно-Казахстанский университет им. М.Утемисова </li>\n" +
            "  <li>Казахская академия труда и социальных отношений </li>\n" +
            "  <li>Казахская автомобильно-дорожная академия им. Л.Б.Гончарова </li>\n" +
            "  <li>Казахский агротехнический университет им. С.Сейфуллина </li>\n" +
            "  <li>Университет КАЗГЮУ им. М.С.Нарикбаева </li>\n" +
            "  <li>Казахский национальный педагогический университет им. Абая </li>\n" +
            "  <li>Казахский национальный университет им. аль-Фараби </li>\n" +
            "  <li>Казахский университет международных отношений и мировых языков им. Абылай хана </li>\n" +
            "  <li>Казахский университет экономики, финансов и международной торговли </li>\n" +
            "  <li>Университет Нархоз </li>\n" +
            "  <li>Казахстанский инженерно-технологический университет </li>\n" +
            "  <li>Казахстанско-Британский технический университет </li>\n" +
            "  <li>Казахстанско-Немецкий университет </li>\n" +
            "  <li>Карагандинский технический университет </li>\n" +
            "  <li>Карагандинский университет им. академика Е.А.Букетова </li>\n" +
            "  <li>Карагандинский университет Казпотребсоюза </li>\n" +
            "  <li>Toraighyrov University </li>\n" +
            "  <li>Университет «Мирас» </li>\n" +
            "  <li>Университет «Туран» </li>\n" +
            "  <li>Университет международного бизнеса (UIB) </li>\n" +
            "  <li>Южно-Казахстанский государственный университет им. М.Ауэзова </li>\n" +
            "  <li>Казахско-Русский международный университет </li>\n" +
            "  <li>Caspian University </li>\n" +
            "  <li>Карагандинский университет Казпотребсоюза, филиал в г. Шымкент </li>\n" +
            "  <li>Жетысуский государственный университет им. И.Жансугурова </li>\n" +
            "  <li>Таразский государственный университет им. М.Х.Дулати </li>\n" +
            "  <li>Костанайский региональный университет им. А.Байтурсынова </li>\n" +
            "  <li>Казахский национальный аграрный исследовательский университет </li>\n" +
            "  <li>Гуманитарно-техническая академия </li>\n" +
            "  <li>Карагандинский университет Казпотребсоюза, филиал в г. Нур-Султан </li>\n" +
            "  <li>Международный университет Астана </li>\n" +
            "</ul>";
        document.getElementById("UniList").innerHTML = UniList;
    } else if (name == "psych")  {
        document.getElementById("PathName").innerText = " Психологиялық-педагогикалық бағыт";
        document.getElementById("titleOfBox").innerText = " Психологиялық-педагогикалық бағыт";
        document.getElementById("subjectText").innerText = "Психологиялық-педагогикалық бағыт шкаласы бойынша жоғары балл алу – оқыту мен тәрбиелеуге байланысты мамандықтарды ойдағыдай меңгеру, сонымен қатар психология және психокеңес беру саласында табысқа жету деген сөз.";

        let myList = "<ul>\n" +
            " <li>Әлеуметтік психология және өзін-өзі тану (негізгі пәндер – биология және география) </li>\n" +
            " <li>Педагогика және психология (негізгі пәндер - биология және география) </li>\n" +
            " <li>Мектепке дейінгі оқыту және тәрбиелеу (негізгі пәндер – биология және география) </li>\n" +
            " <li>Пән мұғалімі (негізгі пәндер – биология және география) </li>\n" +
            " <li>Бастауыш оқытудың педагогикасы мен әдістемесі (негізгі пәндер – биология және география) </li>\n" +
            " <li>Дефектология (негізгі пәндер – биология және география) </li>\n" +
            " <li>Арнайы педагогика (негізгі пәндер – биология және география) </li>\n" +
            " <li>Психология (негізгі пәндер – биология және география) </li>\n" +
            "</ul>";
        document.getElementById("subjectList").innerHTML = myList;
        let UniList = "<ul>\n" +
            "  <li>Университет «Алматы»  </li>\n" +
            "  <li>Аркалыкский педагогический институт им. Ы.Алтынсарина  </li>\n" +
            "  <li>Атырауский университет им. Х.Досмухамедова  </li>\n" +
            "  <li>Восточно-Казахстанский университет им. С.Аманжолова  </li>\n" +
            "  <li>Западно-Казахстанский инновационно-технологический университет  </li>\n" +
            "  <li>Евразийский гуманитарный институт  </li>\n" +
            "  <li>Евразийский национальный университет им. Л.Н.Гумилёва  </li>\n" +
            "  <li>Западно-Казахстанский университет им. М.Утемисова  </li>\n" +
            "  <li>Казахский государственный женский педагогический университет  </li>\n" +
            "  <li>Казахский национальный педагогический университет им. Абая  </li>\n" +
            "  <li>Казахстанско-Американский свободный университет  </li>\n" +
            "  <li>Карагандинский университет им. академика Е.А.Букетова  </li>\n" +
            "  <li>Академия «Bolashaq»  </li>\n" +
            "  <li>Ualikhanov University  </li>\n" +
            "  <li>Кокшетауский университет им. А.Мырзахметова  </li>\n" +
            "  <li>Павлодарский педагогический университет  </li>\n" +
            "  <li>Северо-Казахстанский университет имени Манаша Козыбаева   </li>\n" +
            "  <li>Университет Шакарима  </li>\n" +
            "  <li>Университет «Мирас»  </li>\n" +
            "  <li>Шымкентский университет  </li>\n" +
            "  <li>Южно-Казахстанский государственный университет им. М.Ауэзова  </li>\n" +
            "  <li>SILKWAY International University  </li>\n" +
            "  <li>Alikhan Bokeikhan University  </li>\n" +
            "  <li>Актюбинский региональный университет им. К.Жубанова  </li>\n" +
            "  <li>Yessenov University  </li>\n" +
            "  <li>Казахско-Русский международный университет  </li>\n" +
            "  <li>Баишев Университет  </li>\n" +
            "  <li>Жетысуский государственный университет им. И.Жансугурова  </li>\n" +
            "  <li>Кызылординский университет им. Коркыт Ата  </li>\n" +
            "  <li>Университет «Болашак»  </li>\n" +
            "  <li>Международный Таразский инновационный институт  </li>\n" +
            "  <li>Университет «Сырдария»  </li>\n" +
            "  <li>Международный казахско-турецкий университет им. Х.А.Ясави  </li>\n" +
            "  <li>Костанайский социально-технический университет им. академика З.Алдамжар  </li>\n" +
            "  <li>Южно-Казахстанский государственный педагогический университет  </li>\n" +
            "  <li>Евразийский технологический университет  </li>\n" +
            "  <li>Центрально-Казахстанская академия  </li>\n" +
            "  <li>Жезказганский университет им. О.А.Байконурова  </li>\n" +
            "  <li>Международный университет Астана  </li>\n" +
            "</ul>";
        document.getElementById("UniList").innerHTML = UniList;
    } else if (name == "soc")  {
        document.getElementById("PathName").innerText = " Əлеуметтік-тарихи бағыт";
        document.getElementById("titleOfBox").innerText = " Əлеуметтік-тарихи бағыт";
        document.getElementById("subjectText").innerText = "Тест нәтижелеріне сүйене отырып, сіз тарих, археология, сондай-ақ әлеуметтік топтардың өмір сүру заңдылықтары мен қоғамда болып жатқан процестерге қатысты білім салаларына тартыласыз деп қорытынды жасауға болады.";

        let myList = "<ul>\n" +
            " <li>Әлеуметтану (негізгі пәндер – математика және география) </li>\n" +
            " <li>Әлеуметтік жұмыс (негізгі пәндер – география және шет тілі) </li>\n" +
            " <li>Дінтану (2 шығармашылық емтихан) </li>\n" +
            " <li>Философия (негізгі пәндер – тарих және география) </li>\n" +
            " <li>Мәдениеттану (негізгі пәндер – шет тілі және тарих) </li>\n" +
            " <li>Тарих (негізгі пәндер – тарих және география) </li>\n" +
            " <li>Археология және этнология (негізгі пәндер – тарих және география) </li>\n" +
            " <li>Саясаттану (негізгі пәндер – шет тілі және тарих) </li>\n" +
            " <li>Құқықтану (негізгі пәндер - дүниежүзілік тарих және құқық негіздері) </li>\n" +
            "</ul>";
        document.getElementById("subjectList").innerHTML = myList;
        let UniList = "<ul>\n" +
            "  <li>Ualikhanov University  </li>\n" +
            "  <li>Yessenov University  </li>\n" +
            "  <li>Актюбинский региональный университет им. К.Жубанова </li>\n" +
            "  <li>Аркалыкский педагогический институт им. Ы.Алтынсарина  </li>\n" +
            "  <li>Атырауский университет им. Х.Досмухамедова  </li>\n" +
            "  <li>Восточно-Казахстанский университет им. С.Аманжолова  </li>\n" +
            "  <li>Евразийский гуманитарный институт  </li>\n" +
            "  <li>Евразийский национальный университет им. Л.Н.Гумилёва  </li>\n" +
            "  <li>Жетысуский государственный университет им. И.Жансугурова  </li>\n" +
            "  <li>Западно-Казахстанский инновационно-технологический университет  </li>\n" +
            "  <li>Западно-Казахстанский университет им. М.Утемисова  </li>\n" +
            "  <li>Казахский государственный женский педагогический университет  </li>\n" +
            "  <li>Казахский национальный педагогический университет им. Абая  </li>\n" +
            "  <li>Карагандинский университет им. академика Е.А.Букетова  </li>\n" +
            "  <li>Кокшетауский университет им. А.Мырзахметова  </li>\n" +
            "  <li>Костанайский социально-технический университет им. академика З.Алдамжар  </li>\n" +
            "  <li>Кызылординский университет им. Коркыт Ата  </li>\n" +
            "  <li>Международный казахско-турецкий университет им. Х.А.Ясави  </li>\n" +
            "  <li>Международный Таразский инновационный институт  </li>\n" +
            "  <li>Международный университет Астана  </li>\n" +
            "  <li>Павлодарский педагогический университет  </li>\n" +
            "  <li>Северо-Казахстанский университет имени Манаша Козыбаева  </li>\n" +
            "  <li>Университет «Болашак»  </li>\n" +
            "  <li>Университет «Сырдария»  </li>\n" +
            "  <li>Университет дружбы народов им. академика А.Куатбекова  </li>\n" +
            "  <li>Университет Шакарима  </li>\n" +
            "  <li>Центрально-Азиатский инновационный университет  </li>\n" +
            "  <li>Шымкентский университет  </li>\n" +
            "  <li>Южно-Казахстанский государственный педагогический университет  </li>\n" +
            "  <li>Южно-Казахстанский государственный университет им. М.Ауэзова  </li>\n" +
            "  <li>КАЗГЮУ им. М.Нарикбаева </li>\n" +
            "</ul>";
        document.getElementById("UniList").innerHTML = UniList;
    } else if (name == "serviceVar")  {
        document.getElementById("PathName").innerText = " Қызмет көрсету саласы жəне өндіріс";
        document.getElementById("titleOfBox").innerText = " Қызмет көрсету саласы жəне өндіріс";
        document.getElementById("subjectText").innerText = "Қызмет көрсету саласы жəне өндіріс - бұл сіздің əлеуетіңізді сәтті жүзеге асыруға болатын басым аймақ. Бұл сала Қазақстанда айтарлықтай серпінді түрде кеңейіп, қызметтің кең ауқымын қамтиды.";

        let myList = "<ul>\n" +
            " <li>Агрономия (негізгі пәндер – химия және биология) </li>\n" +
            " <li>Топырақтану және агрохимия (негізгі пәндер – химия және биология)</li>\n" +
            " <li>Мал шаруашылығы өнімдерін өндіру технологиясы (негізгі пәндер – химия және биология) </li>\n" +
            " <li>Өңдеу өнеркәсіптерінің технологиясы (негізгі пәндер – химия және биология) </li>\n" +
            " <li>Жеңіл өнеркәсіп өнімдерінің технологиясы және дизайны (негізгі пәндер – математика және физика) </li>\n" +
            " <li>Тоқыма материалдарының технологиясы және дизайны (негізгі пәндер – математика және физика) </li>\n" +
            " <li>Тамақ өнімдерінің технологиясы (негізгі пәндер – химия және биология) </li>\n" +
            " <li>Тағам биотехнологиясы (негізгі пәндер – химия және биология) </li>\n" +
            " <li>Туризм (негізгі пәндер – география және шет тілі) </li>\n" +
            "<li>Мәдени-тынығу жұмыстары (2 шығармашылық емтихан)</li>\n" +
            " <li>Мейрамхана бизнесі және қонақ үй бизнесі (негізгі пәндер – география және шет тілі) </li>\n" +
            " <li>Логистика (негізгі пәндер – математика және шет тілі) </li>\n" +
            "</ul>";
        document.getElementById("subjectList").innerHTML = myList;
        let UniList = "<ul>\n" +
            "  <li>Инновационный Евразийский Университет </li>\n" +
            "  <li>Казахский агротехнический университет им. С.Сейфуллина </li>\n" +
            "  <li>Казахский национальный аграрный исследовательский университет </li>\n" +
            "  <li>Казахский университет технологии и бизнеса </li>\n" +
            "  <li>Казахстанский инженерно-технологический университет </li>\n" +
            "  <li>Карагандинский университет Казпотребсоюза </li>\n" +
            "  <li>Карагандинский университет Казпотребсоюза, филиал в г. Шымкент </li>\n" +
            "  <li>Костанайский региональный университет им. А.Байтурсынова </li>\n" +
            "  <li>Кызылординский университет им. Коркыт Ата </li>\n" +
            "  <li>Северо-Казахстанский университет имени Манаша Козыбаева </li>\n" +
            "  <li>Таразский государственный университет им. М.Х.Дулати </li>\n" +
            "  <li>Университет Шакарима </li>\n" +
            "  <li>Almaty Management University </li>\n" +
            "  <li>Алматинский технологический университет </li>\n" +
            "  <li>Жетысуский государственный университет им. И.Жансугурова </li>\n" +
            "  <li>Казахская академия спорта и туризма </li>\n" +
            "  <li>Казахская академия труда и социальных отношений </li>\n" +
            "  <li>Казахский национальный педагогический университет им. Абая </li>\n" +
            "  <li>Казахский национальный университет им. аль-Фараби </li>\n" +
            "  <li>Казахский университет международных отношений и мировых языков им. Абылай хана </li>\n" +
            "  <li>Казахстанско-Американский свободный университет </li>\n" +
            "  <li>Казахстанско-Швейцарский институт туризма и гостиничного бизнеса при АТУ  </li>\n" +
            "  <li>Карагандинский университет им. академика Е.А.Букетова </li>\n" +
            "  <li>Карагандинский университет Казпотребсоюза, филиал в г. Нур-Султан </li>\n" +
            "  <li>Университет Нархоз </li>\n" +
            "  <li>Университет «Туран» </li>\n" +
            "  <li>Университет международного бизнеса (UIB) </li>\n" +
            "  <li>Южно-Казахстанский государственный университет им. М.Ауэзова </li>\n" +
            "</ul>";
        document.getElementById("UniList").innerHTML = UniList;
    }

    if (strong.length != 0){
        let mytable = "<table><tr>";
        {  mytable += "<th>Жоғарғы көрсеткіш :</th>" + "<td>" + strong + "</td>"; }
        mytable += "</tr></table>";
        document.getElementById("tableID").innerHTML = mytable;
    }

    let mytable = "<table><tr>";
    {  mytable += "<th>Орташа көрсеткіш :</th>" + "<td>" + middle + "</td>"; }
    mytable += "</tr></table>";
    document.getElementById("tableID").innerHTML = mytable;

    let mytable2 = "<table><tr>";
    {  mytable2 += "<th>Нәтиже :</th>" + "<td>" + motivation + "</td>"; }
    mytable2 += "</tr></table>";
    document.getElementById("tableID2").innerHTML = mytable2;

    let array3 = strong.concat(middle);
    for (let i = 0; i < array3.length; i++) {

        if (array3[i] === "Көшбасшылық"){

            // Create a p element:
            const para = document.createElement("p");
            const paraTitle = document.createElement("h2");

            // Create a text node:
            const nodeTitle = document.createTextNode("Көшбасшылық");
            const node = document.createTextNode("Сізде сапалы көшбасшы болуға толық мүмкіндігіңіз бар. Одан әрі бұл қабілетіңізді дамыту үшін сізге дұрыс бағыт пен тәжірибе керек. Көшбасшының міндеті – ұйымдастыру, мақсатқа жету үшін адамдарды жинау, білімді адамдарды өз идеяларын жүзеге асыруға ынталандыру. Көшбасшылық қасиеттерді дамытудың ең жақсы жолы – көшбасшыға жақын болу, жұмыс істеу.");

            // Append text node to the p element:
            para.appendChild(node);

            paraTitle.appendChild(nodeTitle);

            // Append the p element to the body:
            document.getElementById("myDIV").appendChild(para);
            document.getElementById("myDIV").appendChild(paraTitle);
        }
        else if(array3[i] === "Əлеуметтік интеллект"){
            // Create a p element:
            const para = document.createElement("p");
            const paraTitle = document.createElement("h4");

            // Create a text node:
            const nodeTitle = document.createTextNode("Əлеуметтік интеллект");
            const node = document.createTextNode("Сіз адамдармен қарым-қатынас жасауға ұмтыласыз, таныстарыңыздың шеңберін шектемейсіз. Ал олардың арасында өз пікіріңізді қорғайсыз. Күнделікті өмірде сіз әрқашан дерлік өз мақсаттарыңызға жетесіз. Адамдармен араласу ешқандай қиындық тудырмайды, дегенмен кейбірде түсінеспеншілік болуы мүмкін.");
            // Append text node to the p element:
            para.appendChild(node);

            paraTitle.appendChild(nodeTitle);

            // Append the p element to the body:
            document.getElementById("myDIV").appendChild(paraTitle);
            document.getElementById("myDIV").appendChild(para);
        }
        else if(array3[i] === "Ұйымдастырушылық"){
            const para = document.createElement("p");
            const paraTitle = document.createElement("h4");

            // Create a text node:
            const nodeTitle = document.createTextNode("Ұйымдастырушылық");
            const node = document.createTextNode("\n" +
                "Сіздің Ұйымдастырушылық қабілет байқалады7, яғни қандай да істі дұыс ұйымдастыруға ұмтылыасыз. Сіз өз мақсаттарыңызға жету үшін нақты жоспарлар жасауға және оларды жүйелі түрде орындауға бейімсіз. Сіз өз іс-әрекетіңізді жоспарлауда және қарым-қатынас орнатуда икемді адамсыз, дегенмен сіз өзіңізге берілген міндеттемелерді орындауға тырысасыз. Жұмысыңызды және жеке уақытыңызды жоспарлағанда, сіз көмекші құралдарды (күнделік, жоспарлау тізімі және т.б.) сауатты түрде қоолдана аласыз ");

            // Append text node to the p element:
            para.appendChild(node);

            paraTitle.appendChild(nodeTitle);

            // Append the p element to the body:
            document.getElementById("myDIV").appendChild(paraTitle);
            document.getElementById("myDIV").appendChild(para);
        }
        else if(array3[i] === "Логика"){
            const para = document.createElement("p");
            const paraTitle = document.createElement("h4");

            // Create a text node:
            const nodeTitle = document.createTextNode("Логика");
            const node = document.createTextNode("Тест нәтижелері бойынша сіз логикалық ойлаудың жақсы деңгейін көрсеттіңіз! Яғни бір нәрсенің, қандай да бір оқиғаның біртұтас бейнесін қалыптастыру үшін әртүрлі фактілер арасында байланыс орнатуға қабілетті екеніңізді білдіреді. Шешім қабылдамас бұрын сіз қол жетімді опцияларды мұқият қарастырасыз. Одан бөлек сіз басқа адамдар байқамайтын нәрселерді байқай аласыз. Жалпы бұндай адамдар математика және бағдарламалау(айти) саласына бара алады. ");

            // Append text node to the p element:
            para.appendChild(node);

            paraTitle.appendChild(nodeTitle);

            // Append the p element to the body:
            document.getElementById("myDIV").appendChild(paraTitle);
            document.getElementById("myDIV").appendChild(para);
        }
        else if(array3[i] === "Шығармашылық"){
            const para = document.createElement("p");
            const paraTitle = document.createElement("h4");

            // Create a text node:
            const nodeTitle = document.createTextNode("Шығармашылық");
            const node = document.createTextNode("Тесттің нәтижесі бойынша сіз шығармашылыққа(яғни креативті ойлауға) жақын адамсыз. Шығармашылық ақылға ие болу сізге жаңа және қызықты нәрселерді жасауға және өз мақсатыңызға жетуге түрлі жолдарды көре аласыз. Шығармашылық адамдарда физикалық және психикалық энергия көп болады. Егер берілген тапсырма шынымен сізге қызық болса онда сіз онымен айналысуға бірнеше сағат ерінбей жұмсай аласыз. Және жұмыс барысында әртүрлі жасау жолдарын іздеуге қорықпайсыз.");

            // Append text node to the p element:
            para.appendChild(node);

            paraTitle.appendChild(nodeTitle);

            // Append the p element to the body:
            document.getElementById("myDIV").appendChild(paraTitle);
            document.getElementById("myDIV").appendChild(para);
        }
    }

    menuToggle.onclick = function(){
        header.classList.toggle('open');
    }

</script>
</body>
</html>